.tt-status {
	background-color: #000;
	color: #fff;
}

.tt-status .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tt-status [class^="icon-"], [class*=" icon-"] {
	color: #fff;
}

.tt-multi-obj,
.tt-account {
	position: relative;
}

header .tt-multi-obj .tt-dropdown-menu {
	left: 0;
}

header .tt-account .tt-dropdown-menu {
	right: 0;
}

.tt-header-holder {
	display: flex;
	align-item: center;
	justify-content: space-between;
}

.tt-desctop-menu {
	position: relative;

}

.tt-desctop-menu .tt-dropdown-menu {
	min-width: 600px;
}

.tt-desctop-menu .right>img {
	width: 300px;
	height: 300px;
}

.tt-desctop-menu ul li {
   padding: 0 20px;
}

.tt-desctop-menu .tt-megamenu-submenu.tt-sub-img {
	display: flex;
	flex-wrap: wrap;
}

.tt-desctop-menu ul.tt-sub-img li {
	marginb-right: 10px;
	margin-bottom: 10px;
}

.tt-desctop-menu ul.tt-sub-img li>a {
	display: flex;
	align-items: center;
}

.tt-megamenu-submenu li>a>img {
	width: 60px;
	height: 60px;
	margin-right: 16px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #ccc;
}

.tt-footer-logo {
	padding-top: 55px;
  text-align: center;
}

.banner {
	text-align: center;
}

.discount,
.banner img {
	max-width:100%;
	height:auto;
}

/* product-list */
.product-list {
  display: flex;
  min-height: 90px;
  flex-wrap: wrap;
  padding: .25em;
}
.product-list p {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
	align-content: center;
}
.product-item:nth-of-type(even) {
  margin-left: 0%;
}

.product-item {
  width: 50%;
  height: auto;
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(.96);
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px #eee;
}

.product-img {
  width: 100%;
  height: 195px;
  overflow: hidden;
}

.product-img a {
	display: block;
	width:100%;
	height: 100%;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product-desc {
  width: 100%;
  padding: .5em;
}

.product-title {
  font: 13px/13px '';
  font-weight: bold;
  color: #333333;
  word-wrap:break-word;
  text-overflow: initial;
  overflow: visible;
  font-family: inherit;
}

.product-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  font: 12px/12px '';
  color: #bfbfbf;
}

@media screen and (max-width: 321px) {
  .product-data>span {
    font-size: 6px;
  }
}

.product-price {
	position: relative;
	margin-top: .5em;
}

.product-price>span {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1.0;
}

.product-now-price {
  font-size: 16px;
  color: #ff1671;
}

.product-define-price {
	margin-left: .25em;
 	font-size: 14px;
  text-decoration: line-through;
  color:#333;
}

.product-to-cart {
	position: absolute;
	right:-8px;
	bottom:-8px;
}

.hot-product-title {
	padding: 20px 0;
	text-align: center;
}
.hot-product-title h3 {
	position: relative;
	display: inline-block;
	rgba(35, 35, 35, 1);
  font-size: 32px;
  font-weight: 700;
  color: rgba(35, 35, 35, 1);
}

.hot-product-title h3:after {
  content: '';
  position: absolute;
  top: 1.4em;
  left: 50%;
  display: inline-block;
  width: 100px;
  height: 1px;
  margin-left: -50px;
  background: rgba(109, 118, 125, 1);
}

#banner {
	width: 100%;
	height: 600px;
}

#banner .swiper-slide>a,
#hot-product .swiper-slide>a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#banner .swiper-slide img,
#hot-product .swiper-slide img {
	width: 100%;
	height: auto;
	-webkit-transition: all 1s;
	transition: transform 1s;
}

#hot-product .swiper-slide>a:hover>img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#product-block {
	margin-bottom: 20px;
}

/* countdown */
#countdown-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown-area.hide {
	display: none;
}

#countdown-area .title {
  padding: 1em;
  font-size: 30px;
  text-align: center;
}

#countdown-area .body {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

#countdown-area .desc {
  padding: .5em;
  font-size: 13px;
  text-align: center;
}
/* dark */
.dark {
  position: relative;
  display: flex;
  align-items: center;
}

.dark .time-item {
  position: relative;
  min-width: 2.5em;
  padding: 1em .5em 1.25em .5em;
  font-size: 26px;
  color: #fff;
  text-align: center;
  border-radius: .25em;
  background: -webkit-linear-gradient(top, #999 , #000);
  background: -moz-linear-gradient(bottom, #999, #000);
  background: -o-linear-gradient(bottom, #999, #000);
  background: linear-gradient(to bottom, #000000 , #a5a5a5);
}

.dark .time-item .text {
  position: absolute;
  right: 0;
  bottom: .3em;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.dark .separator {
  display: block;
  padding: .5em;
  font-size: 16px;
  font-weight: bold;
}

.dark .state {
 	position: absolute;
 	top: -26px;
  left: -6px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  color: yellowgreen;
  /* background-color: yellowgreen;
  border-radius: 3px; */
}

#buyer-show {
	width: 100%;
	height: 800px;
}

#buyer-show>img {
	width: 100%;
	height: 100%;
}