/***/
.hd_ban{width: 100%; height:auto; position: relative; overflow: hidden; margin:173px 0 0;}
/* .hd_ban img{width: 1920px; height: 734px; position: absolute; top: 0; left:50%; margin: 0 0 0 -960px;} */
.hd_ban img{display: block; margin: 0 auto; max-width: 100%;}
.con_ban{width: 100%; height: auto; text-align: center; overflow: hidden;}
.con_ban img{display: block; margin: 0 auto; max-width: 100%;}
.box_con1{width: 100%; height: auto; position: relative; background: url(../../../../../ShopTemplate/static/pc/shengdan/bg_03.jpg) repeat}
.word1{width: 100%; height: auto;}
.word1 img{display: block; margin: 0 auto; max-width: 100%;}
.zs_link{width: 100%; height: auto;}
.zs_link img{display: block; margin: 0 auto; max-width: 100%;}
.xia_two{width:1400px; height: auto; margin: 20px auto 0;}
/*******/

.zss_link{width: 50%; height: auto; float: left;}
.zss_link img{display: block; margin: 0 auto; max-width: 100%; float: left;}
.zxx_link{width: 50%; height: auto; float: left;}
.zxx_link img{display: block; margin: 0 auto; max-width: 100%; float: right;}
/*****/
.word2{width: 100%; height: auto;}   
.word2 img{display: block; margin: 0 auto; max-width: 100%;}
.five_5cont{border-radius:5px; z-index: 2; width: 1400px; height:auto; margin: 0 auto;}
.hongbg{position: relative; width: 100%; height: auto;margin: 0 auto; background: url(../../../../../ShopTemplate/static/pc/shengdan/hongbg_15.jpg) repeat}
.dwbox{width: 1405px; height: auto; margin: 0 auto;}
.product_box_cont{width:100%; height: auto; margin: 0 auto; background: url(../../../../../ShopTemplate/static/pc/shengdan/cpk_03_01.png) no-repeat center top; background-size:100% auto;}
.kong{width: 100%;min-height: 160px; margin: 0 auto;}
.word3{width: 100%; height: auto; margin:0 auto}
.word3 img{display: block; margin: 0 auto; max-width: 100%;}
.lei_cont{width: 100%;height: auto; background: url(../../../../../ShopTemplate/static/pc/shengdan/cont_22.png) no-repeat center top; background-size:100% auto;}  
.lei_cont ul{width: 1736px;height: auto; margin: 0 auto;display: flex; flex-wrap:wrap;}
.lei_cont ul li {width: 25%;height: auto;} 
.lei_cont ul li a{display: block;}
.lei_cont ul li a img{max-width: 100%;display: block; margin: 0 auto;}
.product_box_cont .product-price{text-align: center;margin: 10px 0;}
.product_box_cont .product-title{font-weight: normal; color: #000;font-size: 14px; line-height: 20px;}
.product_box_cont .product-now-price{font-size: 30px}
.product_box_cont .product-define-price{color: #999;}
.buynew{width: 100%;height: 25px; text-align: center; margin: 0 0 20px;}
.buynew span{width: 160px; height: 25px; display: inline-block; border-radius:3px; line-height: 25px; text-align: center; font-size: 20px; background: #000; color: #FFF}
#product-block .product-img{height: 266px;}
#product-block .buynew{margin: 15px 0 0;}
#product-block .product-price{text-align: center;margin: 10px 0;}
#product-block .product-now-price{font-size: 30px}
#product-block .product-define-price{color: #999;}
#product-block .product-list{margin: 15px 0 0;}
.product-list{width: 1350px; height: auto;margin: 0 auto;}
.morelink{width: 100%; text-align: center;}
.morelink a{height: 30px;display:inline-block; line-height: 30px;width: 200px; color: #fff; background:#ff1671; border-radius:3px;}
.link_home{width: 100%; height: 100px; text-align: center;}
.link_home a{width:500px; height: 100px; font-size: 30px; border: 5px solid #fff; border-radius:50px; line-height: 100px; color: #fff; display: inline-block; text-align: center;}
.link_home a:hover{color: #fff;}

.yellowbg{width: 100%;background: url(../../../../../ShopTemplate/static/pc/shengdan/hbg_11.jpg) repeat}
.producthuang{background: url(../../../../../ShopTemplate/static/pc/shengdan/hbg_11.jpg) repeat}
.producthong {background: url(../../../../../ShopTemplate/static/pc/shengdan/hongbg_15.jpg) repeat}



@media screen and (max-width:1440px) {
	.xia_two{width: 100%;}
	.five_5cont{width: 100%;margin:0; left: 0;}
	.product_box_cont{width: 100%;margin:0; left: 0;}
	.lei_cont ul{width: 100%;}
	.lei_cont{padding:20px 0;}
	.dwbox{width: 100%;}
}

@media (max-width:1025px) {
	.lei_cont ul li {width: 50%;height: auto;margin: 20px 0;} 
	.product-list{width: 100%;}
}
@media (max-width:750px) {
	.lei_cont ul li {width: 48%;height: auto;margin: 20px 1%;} 
}

@media (min-width:1025px) {
	.product_box_cont .product-item.col-lg-3{max-width:25%;}
	.product_box_cont .product-img{height: 324px;}
	.product_box_cont .product-item{transform:scale(0.98)}
	.dwbox{width: 100%;}
	
}







































































