/* table.css by lzb */
.table-box {
    height: 100%;
    padding: 20px;
}
.table-box_list{
	height: 100%;
	padding: 20px;
}

.table-box .op {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
.box_new_review .op {
    width: 100%;
    background-color: #fff;
	padding: 0;
}

.op .right-box {
    float: right;
}

.op .pagination {
    margin: 0;
    vertical-align: middle;
}

.op a.btn {
	vertical-align: middle;
}

#add {
    margin-left: 80px;
}

.op .dropdown-menu {
    right: 0;
    left: initial;
}

.table-box .nav-tabs a {
	cursor: pointer;
}

.table-box .nav-tabs li.active a:hover {
	cursor: pointer;
}

.table-content {
    width: 100%;
    overflow: auto;
    padding-top: 40px;
}

.table-box .table {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
}
.table-box_list .table {
 margin-top: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;	
}

.table-box .table thead>tr>th:first-child, .table-box .table tbody>tr>th {
    border-right: 1px solid #cdcdcd;
}
.table-box_list .table thead>tr>th:first-child, .table-box_list .table tbody>tr>th {
    border-right: 1px solid #cdcdcd;
}

.table-box .table tbody>tr>th, .table-box .table tbody>tr>td {
    vertical-align: middle;
}
.table-box_list .table tbody>tr>th, .table-box_list .table tbody>tr>td {
    vertical-align: middle;
}
.table-box .date-timepicker {
	margin-left: 0;
}
.table-box_list .date-timepicker {
	margin-left: 0;
}
.box_new_review{ transition: .5s; background: #fff; width:1000px;height:600px; z-index: 999; position: absolute; top:-1000px;left: 50%; margin: 0 0 0 -500px;}
.box_new_review.active{top: 30px;}
.maskbg{display: none; position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 998;background: rgba(0,0,0,.3);}
.box_new_review .upload-img-btn{min-width:100px; min-height: 100px;background-size: 100px;} 
.closeaddreview{width: 30px;height: 30px; line-height: 30px; display: none; text-align: center; position: absolute; top:-15px;right: -15px; background: #000;color: #fff;border-radius:50%;font-size: 16px;}
.box_new_review .closeaddreview{display: block;}



/* pagination */
#page_info_area{
  height:74px;
  padding-top:26px;
}
#page_nav_area{
 	height:74px;
}

/* category form*/
.table-box form {
	margin-top: 40px;
}
.box_new_review  form{margin:10px 0 0;}

.table-box .tab-content {
	padding: 0 20px;
}

.table-box .tab-pane {
    padding: 30px 0;
}
.box_new_review .tab-pane{
	 padding:10px 0
}


@media (max-width: 1000px) {
	td>.btn {
		display: block;
	}
	td>.btn+.btn {
		margin-top: .5em;
	}
}

/* modal */
.modal-title {
    text-align: center;
}

.modal-body .form-group .form-radio {
    padding-top: 6px;
    vertical-align: middle;
}

.modal-body .form-group .form-radio input+input {
    margin-left: 12px;
}

.coupon-status {
	display: flex;
	align-items: center;
}

.coupon-status>input {
	width: 60px;
	outline: none;
}

.coupon-status>input:focus {
	box-shadow: none;
}

.wzf_bg b{background:#da2727; color: #fff;padding: 5px;}/*红*/
.yzf_bg b{background:#daab27; color: #FFF;padding: 5px;}/*黄*/
.ysh_bg b{background:#2ce41f; color: #fff;padding: 5px;}/*绿*/
.yfh_bg b{background:#4832ef; color: #fff;padding: 5px;}/*蓝*/
.ytk_bg b{background:#a24af3; color: #fff;padding: 5px;}/*退*/



.clear_img{display: block; width: 30px; height: 30px;z-index: 2;font-size: 16px; line-height: 30px; text-align: center; position: absolute; top: 0; right: 0; color: #f00; background: #FFF;}
.upload-img-btn{ position: relative;}
.upload-img-btn em img{height: 200px;width: 200px;}
.upload-img-btn em{height: 200px;width: 200px;}
/* .upload-img-btn .upload-img-fu{background: } */
.active .edit-shipping{display:none;}
.colorspan4{color:#4832ef;}
.colorspan3{color:#da2727;}
.colorspan2{color:#55da27;}
.colorspan1{color:#da2727;}
.remark_info{width:500px; height: 250px; position: fixed; top: 50%; left: 50%; margin: -150px 0 0 -150px; z-index: 99999; background: #fff; border:1px solid #ccc;}
.remark_info textarea{width:100%; padding: 10px 2%; height: 180px;border:none; border-bottom:1px solid #ccc;  resize: none;}
.userstart{background: #f0f0f0;line-height: 50px;}
.mask {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgb(0,0,0,.5);
}
.remark_info input{ display: block; margin: 20px auto 0;color: #fff;font-weight: 600; border:none;background:#F23030;width: 200px; height: 30px;}
.closetc{ position: absolute; top: -15px; right:-15px; border-radius:50%; width: 30px; height: 30px; line-height: 30px; text-align: center; background: #000; color: #fff;font-size: 16px;}
.user_rating{color: #FF0000;}
.userstart b{color: #0062CC;}
.wordly{color: #F23030;}
#page_nav_area .pagination{width: 100%;}





