* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: Futura;
    src: url(../../font/Futura-LT-Book.ttf);
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased
}

body {
  background-color: #f4f4f4;
  font-family: 'Futura', 'helvetica', 'Times New Roman', Times, serif;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
  color: #333333;
}

.hide {
	display: none;
}

/* icon */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.icon.cart {
  background-image: url(../img/index/i_cart.png);
}

.icon.menu {
  background-image: url(../img/index/i_menu.png);
}

.icon.person {
  background-image: url(../img/index/i_person.png);
}

.icon.date {
  background-image: url(../img/index/i_date.png);
}

.icon.bag {
  background-image: url(../img/index/i_bag.png);
}

.icon.person.active {
  background-image: url(../img/index/i_person2.png);
}

.icon.search {
  background-image: url(../img/index/i_search.png);
}

.icon.delete {
  background-image: url(../img/index/i_delete.png);
}

.icon.address {
  background-image: url(../img/index/i_address.jpg);
}

.icon.plus {
  background-image: url(../img/index/i_plus.png);
}

.icon.sub {
  background-image: url(../img/index/i_sub.png);
}

.icon.right {
  background-image: url(../img/index/i_right.png);
}

.icon.bottom {
  background-image: url(../img/index/i_bottom.png);
}

.icon.top {
  background-image: url(../img/index/i_top.png);
}

.icon.close {
  background-image: url(../img/index/i_close.png);
}

.icon.close2 {
  background-image: url(../img/index/i_close2.png);
}

.icon.car {
  background-image: url(../img/index/i_car.png);
}

.icon.lock {
  background-image: url(../img/index/i_lock.png);
}

.icon.back {
  background-image: url(../img/index/i_back.png);
}


.icon.dot {
  background-image: url(../img/index/i_dot.png);
}

.icon.star {
  background-image: url(../img/index/i_star2.png);
}

.icon.star.active {
  background-image: url(../img/index/i_star.png);
}

.icon.s1 {
  background-image: url(../img/index/s_1.png);
}

.icon.s2 {
  background-image: url(../img/index/s_2.png);
}

.icon.s3 {
  background-image: url(../img/index/s_3.png);
}

.icon.s4 {
  background-image: url(../img/index/s_4.png);
}

.icon.s5 {
  background-image: url(../img/index/s_5.png);
}
/* border */
.bd-t {
  border-top: 1px solid #ccc;
}

.bd-b {
  border-bottom: 1px solid #ccc;
}
.bd-l {
  border-left: 1px solid #ccc;
}

.bd-r {
  border-right: 1px solid #ccc;
}
/* layout */
.container {
  margin: 0 20px;
}

.info {
  background-color: #000;
  font: 12px/21px '';
  color: #fff;
  line-height:35px;
}

.header {
  background-color: #fff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;/* 头部顶高加高 加高的太多了*/
  margin: 0 10px;
}

.header .logo {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  display: inline-block;
  width: 142px;
  height: auto;
}

.header .cart {
  position: relative;
}

.header .cart .num {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  color: #fff;
  background: #ff6f5e;
  border-radius: 50%;
  text-align: center;

  transform: scale(.8)
}

/* main */
.main {
	min-height: 360px;
}

/* footer */
.footer {
  background-color: #f8f8f8;
  padding-bottom:10px;
}

.footer .news_letter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width:100%;
}
.footer .news_letter>span {
  width: 25%;
  text-align: center;
}

.footer .news_letter .form-group {
  display: flex;
  width: 75%;
}

.footer .news_letter input {
  width: 70%;
  padding: .25em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: 'Quicksand';
  text-indent: 1em;
}

.footer .news_letter button {
  width: 30%;
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
  font-size: 12px;
  color: #fff;
  border: none;
  background-color: #ff1671;
  cursor: pointer;
  font-family: 'Quicksand';
}

.footer p {
  font-size: 13px;
  text-align: center;
  
  line-height:35px;
  padding-top:15px;
  padding-bottom:10px;
  border-bottom:1px dotted #ccc;
}

.footer .share {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.footer .share a {
  margin-right: 10px;
}

.footer .share .icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

/* nav */
.nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  font-size: 12px;
  margin-top:10px;
}

.nav a~ul {
  display: none;
  padding-left: 1em;
}

.nav>ul>li>a {
  font-weight: 500;
  font-size: 14px;
}

.nav>ul>li{
	border-bottom: 1px solid #fff;
}
.chow_fcopy{
	width:100%; line-height:30px; text-align: center; background-color: #fff; font-size:13px; padding-top:10px; padding-bottom:10px;
}
.chow_fcopy span{ color:#ff1671;}

/* category */
.category {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, .25);
}

.category .icon.close2 {
  position: absolute;
  top: 16px;
  left: 10px;
  background-size: 32px 32px;
  cursor: pointer;
}

.category .main-category,
.category .product-box {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

.category .main-category {
  padding: 16px 0;
  margin-top: 60px;
  background-color: #fff;
}

.category .product-box {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.category .product-box.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.category .category-item {
	padding: .5em 0;
	border-bottom: 1px solid #ccc;
}
.category .category-item a {
	position: relative;
  display: block;
  padding: .5em 1em;
  font: 14px/14px ''; 
  color: #333333;
  /* text-align: center; */

  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: transparent;
}

.category .category-item.active a,
.category .category-item a:hover {
  border-left-color: #ff6f5e;
  color: #ff6f5e;
}

.category .category-item a::after {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 1em;
  background-image: url(../img/index/i_plus.png);
  background-size: 24px 24px;
}

/* .category .category-item.active a::after {
  background-image: url(../img/index/i_sub.png);
} */

.category .sub-category .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.category .sub-category .close {
  background-size: 32px 32px;
}

.category .sub-category .body {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.category .sub-category .name {
  padding-left: .5em;
  font-size: 16px;
  font-weight: bold;
}

.category .sub-category .more:hover {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 10%;
}

.category .sub-category-product {
  width: 96px;
  height: auto;
  margin-top: 12px;
  margin-left: 12px;
}

.category .sub-category-product>a {
	text-decoration:none;
}

.category .sub-category-product .product-img {
  width: 100%;
  height: 96px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.category .sub-category-product .product-img img {
  display: inline-block;
  width: 96px;
  height: 96px;
}

.category .sub-category-product>span {
  display: block;
  width: 100%;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category .sub-category-product .product-name {
    display: block;
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: .25em 0;
	  font-size: 14px;
	  text-align: center;
}

.category .sub-category-product .product-desc {
  font-size: 12px;
} 
/* banner */
.banner img {
	width:100%;
	height:auto;
}
.product__details-banner,
.product__details-banner img {
	display: inline-block;
	width: 100%;
	height: auto;
	min-height: 414px;
	overflow: hidden;
}

/* product */
/* product-list */
/* product-list */
.product-list {
  display: flex;
  min-height: 90px;
  flex-wrap: wrap;
  padding: .25em;
}
.product-list p {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
	align-content: center;
}
.product-item:nth-of-type(even) {
  margin-left: 0%;
}

.product-item {
  width: 50%;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(.96)
}

.product-img {
  width: 100%;
  height: 195px;
  overflow: hidden;
}

.product-img a {
	display: block;
	width:100%;
	height: 100%;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product-desc {
  width: 100%;
  padding: .5em;
}

.product-title {
  font: 13px/13px '';
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: inherit;
}

.product-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  font: 12px/12px '';
  color: #bfbfbf;
}

@media screen and (max-width: 321px) {
  .product-data>span {
    font-size: 6px;
  }
}

.product-price {
	position: relative;
	margin-top: .5em;
}

.product-price>span {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1.0;
}

.product-now-price {
  font-size: 16px;
  color: #ff1671;
}

.product-define-price {
	margin-left: .25em;
  	font-size: 14px;
    text-decoration: line-through;
    color:#333锛�
}

.product-to-cart {
	position: absolute;
	right:-8px;
	bottom:-8px;
}

/* input-group */
.input-group {
  display: flex;
}
.input-group>input,
.input-group>.input {
  width: 3em;
  font: 14px/20px '';
  text-align: center;
  border: 1px solid transparent;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align:center;
}
.input-group-addon {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
}

.input-group-addon>i {
  width: 22px;
  height: 22px;
}

.person-info {
	background-color: #fff;
}

.person-info .form {
	padding: 20px;
}

.person-info .input-group {
	align-items: center;
}

.person-info .input-group>label {
	width: 80px;
	text-align: right;
	flex-shrink: 0;
}

.person-info .input-group>.input {
	padding: .25em .5em;
	margin-left: 1em;
	width: 100%;
	border-color: #fff;
	background-color: #fff;
}

.person-info .input-group+.input-group {
	margin-top: .25em;
}

.person-info .input-group>.input[contenteditable] {
	border-color: #ccc;
	color: #cdcdcd;
}

.person-info .form-op {
	padding: .5em;
	border-bottom: 1px solid #ccc;
	text-align: right;
}

.person-info .form-op .edit-save {
	display: inline-block;
	padding: .5em;
	font: 13px/13px '';
}

/* btn */

.btn {
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.btn-pink {
  color: #fff;
  background-color: #ff1671;
  border: none;
}

.btn-gray {
  color: #fff;
  background-color: #ccc;
  border: none;
}


.btn-brown {
  color: #fff;
  background-color: #808080;
  border: none;
}
/* product details */
.product-details {
  background-color: #fff;
}

.product-details .banner {
  width: 100%;
  min-height: 270px;
}

.product-details .swiper-slide>img {
  width: 100%;
  height: 100%;
}

.product-d-title {
  font: 15px/28px '';
  font-weight: bold;
  color: #333;
  border-top: 1px solid #ccc;
  font-family: inherit;
}

.product-d-count,
.product-d-length,
.product-d-price,
.product-d-length {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.product-d-length>span,
.product-d-count>span,
.product-d-price>span,
.product-d-length>span {
  /* font-size:14px;
  margin-right: .5em; */
  font-size: 0.9em;
  line-height: 2.5em;
}

.product-d-length .name {
  font-size: 13px;
}

.product-d-length {
  flex-wrap: wrap;
  margin-top: 0;
}

.product-d-length .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-d-length .list>span {
  /* padding: .5em 1em;
  margin-right: 1em;
  margin-top: .5em;
  border: 1px solid #ccc;
  font: 12px/12px '';
  color: #333;
  border-radius: 2px; */
  
  min-width: 23%;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 3px 0;
  display: inline-block;
  font-family: inherit;
  margin: 0 4px 5px 0;
  font-size:14px;
}

.product-d-length .list>span.active,
.product-d-length .list>span:hover {
  background-color: #ff186e;
  color: #ffd0e5;
}

.product-d-count .input-group {
  margin-left: 1em;
}

.product-d-price {
  align-items: flex-end;
}

.product-d-price .price-text>span:nth-of-type(1) {
  text-decoration: line-through;
  font: 13px/13px '';
  color: #333;
  font-family: inherit;
}


.product-d-price .price-text>span:nth-of-type(2) {
  font: 16px/16px '';
  color: #ff186e;
  font-family: inherit;
  font-weight:700;
}

.product-d-op {
  display: flex;
}

.product-d-op .btn {
  width: 50%;
  padding: 1em 0;
  margin-top: 1em;
  font: 14px/14px '';
  text-align: center;
  font-family: inherit;
  font-weight:500;
}

.price-text{line-height:2.5em; text-indent: 1.5em;}

.product-d-op .btn.btn-default {
  color: #ff186e;
}

.product-d-op .btn.btn-pink {
  color: #fff;
  background-color: #ff186e;
}

.product-d-op .btn+.btn {
  margin-left: .25em;
}

.product-d-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.product-di-item {
  margin-top: 1em;
  text-align: center;
}

.product-di-item>.icon {
  background-size: 32px 32px;
}

.product-di-item>p {
  margin-top: 1em;
  font: 12px/12px '';
  font-weight: bold;
  color: #ff186e;
}

.main.article {
  padding: 20px;
  background-color: #fff;
}

.article-title {
	padding: 1em;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}

.article-content {
	font-size: 14px;
}

/* list-group */
.list-group-item {
  background-color: #fff;
}

.group-details {
  display: none;
}

.group-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25em .75em;
  font: 14px/14px '';
  color: #333;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  font-family: inherit;
}

.group-title> .reviews {
  flex: auto;
  margin-left: 1em;
}

.group-title> .reviews>.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.group-title> .reviews>.data {
  display: inline-block;
  font: 14px/20px '';
  vertical-align: middle;
}

.product-d-other {
  margin-top: 1em;
  padding-bottom: 1em;
}

.group-details {
  padding: 1em 0;
}

.group-details.active {
  display: block;
}

.group-details.description,
.article-content {
    display: flex;
    flex-direction: column;
}

.group-details.description {
	font-size: 12px;
}

.group-details.description img,
.article-content img {
  width: 100% !important;
  height: auto;
}

.group-details.description p,
.article-content p {
  font: 14px/18px '';
  color: #333;
  font-family: inherit;
}

.group-details.description video,
.article-content video {
  width: 100% !important;
  height: auto;
  margin-top: 1em;
}

.group-details.description .table,
.group-details.description table,
.article-content table {
 	width: 100% !important;
	border-spacing: 0;
    border-collapse: collapse;
	border: 1px solid #ddd;
}

.group-details.description .table th,
.group-details.description table th,
.article-content table th,
.group-details.description .table td,
.group-details.description table td,
.article-content table td {
	padding: .5em;
	border: 1px solid #ddd;
}

.group-details.description table tr td:nth-of-type(2),
.article-content table tr td:nth-of-type(2) {
	word-break: break-word;
	font-size: 13px;
}

.group-details.customer-message {
	padding: 1em;
}

.group-details.customer-message>textarea {
	width: 100%;
	min-height: 60px;
	padding: .5em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.group-title .price-info {
	position: absolute;
	right: 4em;
	color: #ff1671;
}
/* review */
.write-review {
  width: 200px;
  padding: 1em 0;
  font: 14px/14px '';
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #ff186e;
}

.review-item {
  padding: 1em 0;
}

.review-item+.review-item {
  border-top: 1px solid #cdcdcd;
}

.review-title {
  display: flex;
  flex-wrap: wrap;
}

.review-title>img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.review-title .review-data {
  margin-left: 1em;
  flex-grow: 1;
}

.review-data .review-d-author {
  font-size: 14px;
}

.review-data .icon {
  width: 18px;
  height: 18px;
}

.review-imgs {
	margin-top: .6em;
}

.review-imgs>img {
	display: inline-block;
	width: 60px;
	height: 60px;
}

.review-imgs>img+img {
	margin-left: 8px;
}
.review-content {
  position: relative;
  /* padding-bottom: 2em; */
  margin-top: .6em;
}

.review-text {
  position: relative;
  /* font: 14px/18px '';
  height: auto; */
  font-size: 13px;
  font-family: inherit;
}

.review-text.review-ellipsis {
  height: 54px;
  overflow: hidden;
  font-size: 13px;
  font-family: inherit;
}

.review-more {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: .25em .5em;
  margin-left: .5em;
  font: 12px/12px '';
  color:#ff186e;
  border: 1px solid #ccc;
}

.review-more>.icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: .25em;
}

.review-text.review-ellipsis::after {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left,#fff,#fff,rgba(0,0,0,0));
  padding: 0 1em 0 3em;
}

/* condition of product*/
.condition.select {
	display: flex;
	aligin-items: center;
	justify-content: flex-end;
	padding:10px;
	background-color:#fff;
}
.select-item {
	padding: 0.25em .5em;
	max-width: 220px;
	font-size: 14px;
	background: rgba(245, 245, 245, 1);
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(221, 221, 221, 1);
    border-radius: 2px !important;
}
.select-item+.select-item {
	margin-left: 10px;
}

.select-item option {
    padding: .1em .25em;
    font-size: 12px;
    background-color: #fff;
}
/* cart list */
.cart-title {
	width: 100%;
	height: auto;
}

.cart-status {
	position:relative;
	width: 100%;
	padding: .5em .25em;
	text-align: center;
}

.cart-status .dot {
	position: absolute;
	top:0;
	right:0;
}

.cart-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.cart-footer .show-t-price {
	margin-left: 10px;
}

.cart-footer .op {
	display: flex;
	justify-content: flex-end;
	padding: 1em 0;
}

.cart-footer .btn {
	font-size:12px;
	padding: .25em;
	margin-right: .5em;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
  background-color: #fff;
}

.cart-item>input,
.checkbox {
  width: 25px;
  height: 25px;
  margin-top: 26px;
  flex-shrink: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  overflow: hidden;
}

.cart-item>input:checked,
.checkbox:checked {
  position: relative;
  border-color: #ff186e;
  background-color: #ff186e;
}

.cart-item>input:checked::after,
.checkbox:checked::after {
  content: '鉁�';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}

.cart-item>img {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.cart-item>.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 80px;
}

.cart-item>.content .title {
  font: 14px/14px '';
}

.cart-item>.content .condition {
  margin: .5em 0;	
  font-size: 12px;
}

.cart-item>.content .delete {
	position: absolute;
  right: 1em;
  background-size: 20px 20px;
  background-position: center bottom;
}

/* .cart-item>.content .condition>.c-item+.c-item {
  margin-left: .25em;
} */

.cart-item>.content .condition>.c-item {
  margin-left: .5em;
}

.cart-item>.content .num {
  display: flex;
  align-items: flex-end;
}

.cart-item>.content .original {
	text-decoration: line-through;
	font: 12px/12px '';
	margin-left: .5em;
   margin-bottom: 1px;
}

.cart-item>.content .price {
  font: 14px/14px '';
  color:#ff186e;
}

.cart-item>.content .input-group {
  transform: scale(.7);
  margin-bottom: -3px;
}


/* address */
.address {
  padding: 1em 0;
  background-color: #fff;
}

.add-address {
	padding: 1em;
  margin: 0 1em;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.add-address .plus {
  margin-left: .5em;
  background-size: 32px 32px;
}

.address-details {
  display: flex;
  align-content: center;
  padding: .5em 0;
}

.address-details .address {
  flex-shrink: 0;
  width: 60px;
  height: 40px;
  background-size: 40px 40px;
}

.address-details .address-i-name {
	font-size: 14px;
	color: #333;
}

.address-details .address-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.address-details .address-i-name,
.address-details .address-i-phone {
  font-size: 14px;
}

.address-details .address-i-phone {
  margin-left: 1em;
}

.address-details .address-i-address {
  font-size: 12px;
}

/* address modal */
.form-group {
  /* display: flex; */
  width: 50%;
  float: left;
}
.form-label.required {
  position: relative;
}
.form-label.required::after {
  content: '*';
  color: #ff6f5e;
  font-size: 14px;
  font-weight: bold;
  width: 16px;
  position: absolute;
  top: 3px;
  right:-20px;
}
.label-exp {
  margin-left: 20px;
  color: #ff6f5e;
}
.form-input {
  flex-grow: 1;
}
.form-input>input,
.form-input>select {
  width: 100%;
  padding: .25em .5em;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.address-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, .8);
}

.address-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5em;
  background-color: #ccc;
  border-radius: 50%;
}

.address-modal .address-box {
  padding: 2em 0;
  margin-top: 60px;
  background-color: #fff;
}

.address-modal form::after {
  content: '';
  display: table;
  clear: both;
}

.address-modal .form-group {
  width: 50%;
  padding: .5em;
  box-sizing: border-box;
}

.address-modal .save {
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

.address-modal .btn-pink {
  padding: .5em 2em;
  border-radius: none;
}
/* shipping */
.shipping {
	padding: 1em;
	font-size: 14px;
}
.shipping>span {
	color: #ff1671;
}
/* order */

.order-title {
	padding: .5em;
	display: flex;
	align-items: center;
}

.order-title .bag {
	background-size: 24px 24px;
}

.order-title .text {
	font-size: 16px;
}

.order-list .content .num {
	position: relative;
	align-items: baseline;
}

.order-list .num>.p-num {
  position: absolute;
  right: 0;
  bottom: 0;
}

.order-list .group-title {
	border-left-color:#fff;
	border-right-color:#fff;
}

.order-cal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.order-cal .total-price {
  font-size: 12px;
  margin-right: 1em;
}

.order-cal .total-price>span:nth-last-of-type(1) {
  font-size: 14px;
  color: #ff1671;
}

.order-cal .btn {
  padding: 1em;
  font-size: 14px;
  color: #fff;
  background-color: #ff1671;
}


.coupon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 1em;
  margin: 0 1em;
  border: 1px solid #ccc;
}

.coupon-item+.coupon-item {
	border-top-color:#fff;
}


.coupon-item .checkbox {
  margin-top: 0;
  align-self: flex-end;
}

.box-none {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding: 3em 0;
}

.box-none img {
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 1em;
}

.box-none p {
	margin-top: 1em;
	font-size: 14px;
	color:#ff1671;
  font-style: italic;
	
}

.box-none .btn {
	padding: .75em 1.2em;
	margin-top: 1em;
	border-radius: 1.5em;
}

.coupons .input-group {
	justify-content: center;
}

.coupons .input-group>input {
  min-width: 160px;
  padding: .25em 1em;
	border-left-color:#ccc;
}

.coupons .input-group>span {
	padding: 0.25em .75em;
}

.coupons .coupon-error {
	padding: 1em 0;
	color: #ff1671;
	font-size: 12px;
	text-align: center;
}

.purechase-step {
	width: 100%;
	height: auto;
}
/* login/register */
.tab {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-item {
  flex-grow: 1;
  padding: 1em 0;
  text-align: center;
}

.tab-item.active {
  box-sizing: border-box;
  border-bottom: 2px solid #f23030;
}

.login-register {
  background-color: #fff;
}

.login-register .tab {
  padding: 0 20px;
}

.login-register .tab-item {
  font-size: 14px;
  font-weight: 700;
}

.login-register .tab-pane {
  padding: 20px;
  display: none;
}

.login-register .tab-pane.active {
  display: block;
}

.login-register .input-group {
  flex-direction: column;
}

.login-register .input-group+.input-group {
  margin-top: 1em;
}

.login-register .input-group>input {
  /* width: 100%;
  padding: .25em .5em;
  margin-top: .25em;
  border-color: #ccc;
  border-radius: .25em;
  text-align: left; */
  
  border: 0;
  height: 36px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: 'Quicksand';
  text-indent: 2em;
	text-align:left;
	margin-top:10px;
	background-color: #ccc;
}

.login-register .btn {
  display: inline-block;
  width: 100%;
  padding: .5em 0;
  margin: 20px 0;
  text-align: center;
  box-sizing: border-box;
  outline: none;
}

/* user center */
.pserson-center .person-title {
	padding: .5em;
	font: 14px/14px '';
	font-weight: bolder;
	color: #333;
	text-align: center;
}

.pserson-center .person-info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	height: 200px;
	background-color: tomato;
}

.pserson-center .person-info .signout {
	position: absolute;
	top: 1em;
	right: 1em;
	
	padding: .5em;
	font: 12px/12px '';
	border-color: #fff;
}

.pserson-center .person-info-img {
	width: 90px;
	height: 90px;
	margin-top: 2em;
	
	border: 2px solid #fff;
	border-radius: 50%;
}
.pserson-center .person-info-name {
	font-size: 16px;
	color:#fff;
	margin-top: 1em;
}

.integral-details {
	position: relative;
	margin-top: -30px;
	margin-left: 10px;
	margin-right: 10px;
	background-color:#fff;
	border-radius: 8px;
	overflow: hidden;
	
	box-shadow: 1px 1px 2px #ccc;
}

.integral-details .id-title {
	font-size: 14px;
	font-weight: bolder;
	color: #000;
	
	padding: .5em;
}


.integral-details .id-list {
	display: flex;
	
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1em;
}

.integral-details .id-item {
	width: 30%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
}

.integral-details .id-item-img {
	width: 60px;
	height: 60px;
	/* border: 1px solid #ccc; */
}

.integral-details .id-item-name {
	margin-top: .5em;
	font: 12px/12px '';
	color:#000;
}

.pay-method .checkbox {
	align-self: auto;
	margin: auto 0;
}

.coupon-info .coupon-item {
	margin-top: 1em;
	background-color:#fff;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.coupon-info .coupon-item .price {
	font-size: 18px;
	color: #f23030;
}

.coupon-info .coupon-item .name {
	font-size: 14px;
}

.coupon-info .coupon-item .date {
	font-style: italic;
	font-size: 12px;
}
 
 /* pageination */
.pagination {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.pagination li {
 	display: inline-block;
 	padding: .5em;
 	border: 1px solid #ccc;
 	border-raidus: 3px;
 	font: 14px/14px '';
 	backgorund-color: #fff;
 }
 
 .pagination li+li {
 	margin-left: .25em;
 }
 
 /* order list  */
 .order-info .order-list {
 	padding: 20px;
 }
 .order-info .order-item {
 	border: 1px solid #ccc;
 	border-radius: 6px;
 	overflow: hidden;
 }
 .order-info .order-item+.order-item {
 	margin-top: .5em;
 }
 .order-info .order-item-title {
 	display: flex;
 	justify-content: space-between;
 	padding: 6px 10px;
 	font: 14px/14px '';
 }
 .order-info .order-item-title .order-id  {}
  .order-info .order-item-title .order-status  {
 	color: tomato;
 }
 .order-info .order-item-body {
 	padding: 6px 10px;
 	border-top: 1px solid #ccc;
 }
 .order-info .order-item-item {
 	display: flex;
 	padding: .5em;
 }
 .order-info .order-item-item+.order-item-item {
  	margin-top: .5em;
  	border-top: 1px solid #ccc;
 }
 .order-info .order-item-item .order-img {
 	width: 60px;
 	height: 60px;
 	border-radius: 6px;
 	flex-shrink: 0;
 	margin-right: .5em;
 }
 .order-info .order-item-item .order-text {
 	width: 100%;
 	font: 14px/14px;
 }
 .order-info .order-item-item .order-text .sku {
 	margin-top: .5em;
 	font: 12px/12px '';
 	color: #377492;
 }
 .order-info .order-item-item .order-num {
 	display: flex;
 	width: 40px;
 	height: 40px;
 	margin-left: 1em;
 	flex-direction: column;
 	align-items: flex-end;
 }
.order-info .order-item-footer {
	padding: .5em 1em;
	text-align: right;
}

.order-info .order-item-footer .order-i-i {
	display: flex;
	justify-content: space-between;
	font: 14px/14px '';
}
.order-info .order-item-footer .order-i-i+.order-i-i {
	margin-top: 6px;
}

.order-info .order-data {
	padding: 10px 20px;
}
.order-info .order-data .title {
	padding: .5em;
	font: 16px/16px '';
}

.order-info .order-data .body {
	padding: .5em;
	font-size: 14px;
}

/* countdown */

#countdown-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown-area.hide {
	display: none;
}

#countdown-area .title {
  padding: 1em;
  font: 16px/16px '';
  font-weight: bolder;
  text-align: center;
}

#countdown-area .body {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

#countdown-area .desc {
  padding: .5em;
  font: 13px/13px '';
  text-align: center;
}
/* dark */
.dark {
  position: relative;
  display: flex;
  align-items: center;
}

.dark .time-item {
  position: relative;
  min-width: 2.5em;
  padding: 1em .5em 1.25em .5em;
  font: 30px/30px '';
  color: #fff;
  text-align: center;
  border-radius: .25em;
  background: -webkit-linear-gradient(top, #999 , #000);
  background: -moz-linear-gradient(bottom, #999, #000);
  background: -o-linear-gradient(bottom, #999, #000);
  background: linear-gradient(to bottom, #000000 , #a5a5a5);
}

.dark .time-item .text {
  position: absolute;
  right: 0;
  bottom: .1em;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.dark .separator {
  display: block;
  padding: .5em;
  font-size: 16px;
  font-weight: bold;
}

.dark .state {
  position: absolute;
  top: -13px;
  left: 0;
  display: inline-block;
  padding: 6px 12px;
  font: 14px/14px '';
  color: #fff;
  background-color: yellowgreen;
  border-radius: 3px;
}
