@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, dl, dt, dd, form, article, aside, embed, table, td, th, input, button, legend, fieldlset, blockquote, textarea, label, strong, img, cite { margin: 0; padding: 0; outline: none; }
body {background: #f2f2f2; font-family:"微软雅黑","Microsoft YaHei";color:#333;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%;}
table { border-collapse: collapse; }
ul, li , ol, li{ list-style: none; }
img{ border: none; vertical-align:top; }
em, cite, address,i ,strong{ font-style: normal; font-weight: normal; }
a { text-decoration:none; }

input { outline:none; border:none; background-color:transparent;}
input::-ms-clear { display:none; }
textarea { outline:none; resize:none; ;overflow:auto;border:none;background: transparent;}
.clearfix:after,
.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}   
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
*,*:before,*:after{box-sizing:border-box}
.mask{display: none; position: fixed; top: 0; left:0;bottom: 0;right: 0; background: rgba(0, 0, 0, .5); z-index: 9999999999;}
/*************************************/
.narrow{width: 100%; height: auto; min-height: 150px; margin: 2% auto 1%;}
.narrow>img {display: block;width: 100%;}
.narrow_cont{width: auto; height: auto; margin: 0 auto;}
.narrow_cont a{display: inline-block;width: 50%; padding:0 1% 1%;float: left;}
.narrow_cont a img{width: 100%;}
.hot_img{width: 100%; height: auto; margin: 0 auto;}
.hot_imgcont{width: 100%; height: auto; margin: 0 auto;}
.hot_imgcont a{display: block; margin: 0 auto;}
.hot_imgcont a img{max-width: 100%; margin: 0 auto;}
/***/
.actionhot{width: 100%; height: auto; margin: 0 auto;}
.actionhot_cont{width: 100%; height: auto;}
.actionhot_cont ul{width: 100%;}
.actionhot_cont ul li{width: 50%;float: left;margin: 0 0 2%;}
.actionhot_cont ul li:nth-of-type(odd){padding: 0 1% 0 0;}
.actionhot_cont ul li:nth-of-type(even){padding:0 0 0 1%}
.actionhot_cont ul li a img{max-width: 100%;}
/***/
.quick-links{width: 100%; height: auto;margin: 2% 0 0;}
.links_cont{width: 100%; height: auto;padding: 0 2%;}
.links_cont ul{width: 100%; height: auto;}
.links_cont ul li{width:50%;float: left; height: 50px; margin: 0 0 2%;}
.links_cont ul li:nth-of-type(odd){padding: 0 1% 0 0;}
.links_cont ul li:nth-of-type(even){padding:0 0 0 1%}
.links_cont ul li a{width: 100%; height: 100%;display: block; background: #000; color: #fff;font-size: 16px; text-align: center; line-height:50px;}
/**********/
.links_contimg{width: 100%; height:auto; margin: 2% 0 0; overflow:hidden;}
.links_contimg ul{text-align: center;width: 100%;height:auto; position: relative;}
.links_contimg ul li {float: left;box-sizing: border-box;}
.links_contimg ul li:first-of-type,.links_contimg ul li:last-of-type {width: 32%;height: 100%;}
.links_contimg ul li:first-of-type{float: left; padding: 0 1% 0 0 ;}
.links_contimg ul li:last-of-type{float: right; padding: 0 0 0 1%;}
.links_contimg ul li:nth-of-type(2) {width: 36%;height: 50%; position: absolute; top: 0; left:32%;margin: 0 0 1%;}
.links_contimg ul li:nth-of-type(3),.links_contimg ul li:nth-of-type(4) {position: absolute;top: 50%;width:18%;height: 50%;margin: 1% 0 0;}
.links_contimg ul li:nth-of-type(3) {left:32%;padding: 0 .5% 0 0;}
.links_contimg ul li:nth-of-type(4) {right:32%;padding: 0 0 0 .5%}
.links_contimg ul li a{display: block;width: 100%; height: 100%;}
.links_contimg ul li a img{width: 100%; display: block;}



/******/
.grid{width: 100%; height: auto;margin: 0 0 1%;}
.grid_cont{width: 100%; height: auto; text-align: center;}
.grid_cont li{float: left;margin: 1% 0 1%;width: 100%;}
.grid_cont a{display: inline-block; float: left; width: 100%;}
.grid_cont a img{width:100%;}
/**********/
.hot_index_product{width: 98%; height:auto;padding: 2% 1%; margin:0 auto}
.new_index_product{width: 98%; height:auto;padding: 2% 1%; margin:0 auto}
.new_box_product_cont{overflow: hidden; position: relative;}
.hot_index_product .hot_box_product_cont{padding: 0;}
.banner_fenlei{width: 100%;}
.banner_fenlei .bannerpic{width: 100%;}
.bannerpic img{width: 100%;}

.coupon_cont2 {min-height: 180px;}
.coupon_cont2>img {display: block; width: 100%;}

.hotbtn_next,.hotbtn_prev {z-index: 99; margin:-80px 0 0; width: 48px; height: 48px; position: absolute; top: 50%;}
.hotbtn_prev{left: 5px;background: url(../../pc/img/left.png) no-repeat;}
.hotbtn_next{right: 5px;background: url(../../pc/img/right.png) no-repeat;}
.hot_index_product .swiper-button-next.swiper-button-disabled{opacity:1;pointer-events:auto; background: url(../../pc/img/righth.png) no-repeat; cursor: pointer;}
.hot_index_product .swiper-button-prev.swiper-button-disabled{opacity:1;pointer-events:auto;background: url(../../pc/img/left.png) no-repeat; cursor: pointer;}
/**/
.newbtn_next,.newbtn_prev {z-index: 99; margin:-80px 0 0; width: 48px; height: 48px; position: absolute; top: 50%;}
.newbtn_prev{left: 5px;background: url(../../pc/img/left.png) no-repeat;}
.newbtn_next{right: 5px;background: url(../../pc/img/right.png) no-repeat;}
/* .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity:0;background: none;}*/
.new_index_product .swiper-button-next.swiper-button-disabled{opacity:1;pointer-events:auto; background: url(../../pc/img/righth.png) no-repeat; cursor: pointer;}
.new_index_product .swiper-button-prev.swiper-button-disabled{opacity:1;pointer-events:auto;background: url(../../pc/img/left.png) no-repeat; cursor: pointer;}
.old-price .price{text-decoration: line-through;}

/************/
.comment_cont{width: 100%; height: auto;}
.comment_cont ul{width: 100%; margin:2% 0 0;}
.list_ins{width: 50%;float: left;padding: 0 1%; margin: 0 0 2%;}
.list_ins img{max-width: 100%;}
.index_tcbox .product-image{width: 100%;}
.index_tcbox .rightcont{width: 100%;}
.morelink{display: block;background:url(../../pc/img/more.jpg) no-repeat; background-size:100% 100%; }
.morelink>img{width: 100%;}
.word-desc{margin: 5%;}
.new_box_product_cont .swiper-slide .product-item{transform:scale(1)}
.hot_box_product_cont .swiper-slide .product-item{transform: scale(1);}
.product-img{height: auto;}
/************个人中心*******************************/
.person-info{width: 100%; height: auto; min-height: 600px; background: #f4f4f4;}
.return_prev{width: 100%; height:40px; background: #fff;}
.return_prev a{display: block;width: 100%; height: 100%;font-size: 14px; color: #000;}
.return_prev a span{display: inline-block;line-height: 40px; padding: 0 0 0 20px;margin: 0 0 0 10px; background:url(../img/other/return.png) no-repeat center left; background-size:16px;}
.list_info{width: 100%}
.list_info li{float: left; margin: 10px 0 0;font-size: 16px; position: relative; padding: 0 10px; line-height: 40px; width: 100%; background: #fff;}
.list_info li:after{content: ""; position: absolute; right: 0; top: 10px; width: 25px; height: 20px;background:url(../img/other/jtl.png) no-repeat center left; background-size:18px;}
.list_info li span{ float: left; color:#333;}
.list_info li em{ float: right; padding: 0 20px 0 0; color: #888;width: 250px; height: 40px; text-align: right; overflow:hidden;text-overflow: ellipsis; white-space: nowrap;}
.list_info li:last-child{margin: 20px 0 0;}
.tanceng_box{width: 100%; height: 100%; position: fixed; top:100px; left: 0; background: #fff; z-index: 2; display: none;}
.gb_tang{position: absolute; top: 0; right: 0; width: 30px; text-align: center; line-height: 30px; height: 30px; background: #000; color: #fff;}
.boxedit{display: none;width: 100%; min-height: 600px; position: absolute; top:30px; left: 0;}
.boxedit label{display: inline-block;padding: 0 5%;font-style:14px; text-align: left; margin: 10px 0;}
.boxedit .textinpt{font-size: 14px; width: 90%; margin: 0 5%; padding: 0 2%; border: 1px solid #ccc; line-height: 40px;}
.sub_ipn{ cursor: pointer; width: 90%;margin: 50px 5% 0; height: 40px; background:#0000CC; color: #fff; text-align: center; line-height: 40px;}
.form-groupinfo{width: 90%; margin: 0 5%;}
.boxedit .form-groupinfo label{margin: 10px 0;padding: 0;}
