@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, dl, dt, dd, form, article, aside, embed, table, td, th, input, button, legend, fieldlset, blockquote, textarea, label, strong, img, cite { margin: 0; padding: 0; outline: none; }
body {background: #f2f2f2; font-family:"微软雅黑","Microsoft YaHei";color:#333;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%;}
table { border-collapse: collapse; }
ul, li , ol, li{ list-style: none; }
img{ border: none; vertical-align:top; }
em, cite, address,i ,strong{ font-style: normal; font-weight: normal; }
a { text-decoration:none; }
input { outline:none; border:none; background-color:transparent;}
input::-ms-clear { display:none; }
textarea { outline:none; resize:none; ;overflow:auto;border:none;background: transparent;}
.clearfix:after,
.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}   
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
*,*:before,*:after{box-sizing:border-box}
.mask{z-index: 9; display: none; position: fixed; top: 0; left:0;bottom: 0;right: 0; background: rgba(0, 0, 0, .5); z-index: 9;}
/*************************************/
.narrow{width: 100%; height: auto; margin: 0 auto 1%;}
.narrow_cont{width: auto; height: auto; margin: 0 auto;}
.narrow_cont a{display: inline-block;width: 50%; padding:0 1% 1%;float: left;}
.narrow_cont a img{width: 100%;}
.hot_img{width: 100%; height: auto; margin: 0 auto;}
.hot_imgcont{width: 100%; height: auto; margin: 0 auto;}
.hot_imgcont a{display: block; margin: 0 auto;}
.hot_imgcont a img{max-width: 100%; margin: 0 auto;}
/***/
.actionhot{width: 100%; height: auto; margin: 0 auto;}
.actionhot_cont{width: 100%; height: auto;}
.actionhot_cont ul{width: 100%;}
.actionhot_cont ul li{width: 50%;float: left;margin: 0 0 2%;}
.actionhot_cont ul li:nth-of-type(odd){padding: 0 1% 0 0;}
.actionhot_cont ul li:nth-of-type(even){padding:0 0 0 1%}
.actionhot_cont ul li a img{max-width: 100%;}
/***/
.quick-links{width: 100%; height: auto;margin: 2% 0 0;}
.links_cont{width: 100%; height: auto;padding: 0 2%;}
.links_cont ul{width: 100%; height: auto;}
.links_cont ul li{width:50%;float: left; height: 50px; margin: 0 0 2%;}
.links_cont ul li:nth-of-type(odd){padding: 0 1% 0 0;}
.links_cont ul li:nth-of-type(even){padding:0 0 0 1%}
.links_cont ul li a{width: 100%; height: 100%;display: block; background: #000; color: #fff;font-size: 16px; text-align: center; line-height:50px;}
/******/
.grid{width: 100%; height: auto;margin: 0 0 1%;}
.grid_cont{width: 100%; height: auto; text-align: center;}
.grid_cont li{float: left;margin: 1% 0 1%;width: 100%;}
.grid_cont a{display: inline-block; float: left; width: 100%;}
.grid_cont a img{max-width:100%;}
/**********/
.hot_index_product{width: 98%; height:auto;padding: 2% 1%; margin:0 auto}
.new_index_product{width: 98%; height:auto;padding: 2% 1%; margin:0 auto}
.new_box_product_cont{overflow: hidden; position: relative;}
.hot_index_product .hot_box_product_cont{padding: 0;}
.banner_fenlei{width: 100%;}
.banner_fenlei .bannerpic{width: 100%;}
.bannerpic img{width: 100%;}
.hot_index_product .hot_box_product_cont .swiper-slide:last-child{display: none !important;}
.hot_index_product .hot_box_product_cont .swiper-slide:last-child{display: none !important;}
.new_index_product .new_box_product_cont .swiper-slide:nth-last-child(2){display: none !important;}

.hotbtn_next,.hotbtn_prev {z-index: 99; margin:-80px 0 0; width: 48px; height: 48px; position: absolute; top: 50%;}
.hotbtn_prev{left: 5px;background: url(../../pc/img/left.png) no-repeat;}
.hotbtn_next{right: 5px;background: url(../../pc/img/right.png) no-repeat;}
.hot_index_product .swiper-button-next.swiper-button-disabled{opacity:1;pointer-events:auto; background: url(../../pc/img/righth.png) no-repeat; cursor: pointer;}
.hot_index_product .swiper-button-prev.swiper-button-disabled{opacity:1;pointer-events:auto;background: url(../../pc/img/left.png) no-repeat; cursor: pointer;}



/**/
.newbtn_next,.newbtn_prev {z-index: 99; margin:-80px 0 0; width: 48px; height: 48px; position: absolute; top: 50%;}
.newbtn_prev{left: 5px;background: url(../../pc/img/left.png) no-repeat;}
.newbtn_next{right: 5px;background: url(../../pc/img/right.png) no-repeat;}
/* .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity:0;background: none;}*/
.new_index_product .swiper-button-next.swiper-button-disabled{opacity:1;pointer-events:auto; background: url(../../pc/img/righth.png) no-repeat; cursor: pointer;}
.new_index_product .swiper-button-prev.swiper-button-disabled{opacity:1;pointer-events:auto;background: url(../../pc/img/left.png) no-repeat; cursor: pointer;}

.old-price .price{text-decoration: line-through;}






/************/
.comment_cont{width: 100%; height: auto;}
.comment_cont ul{width: 100%; margin:2% 0 0;}
.list_ins{width: 50%;float: left;padding: 0 1%; margin: 0 0 2%;}
.list_ins img{max-width: 100%;}
.index_tcbox .product-image{width: 100%;}
.index_tcbox .rightcont{width: 100%;}
.morelink{position:absolute;top: 0; left: 0;width: 100%; height: 100%; z-index: 2; display: block;font-size:30px; background:url(../../pc/img/more.jpg) no-repeat; background-size:100% 100%; color: #fff;font-weight: 600;}
.last_top img{width: 100%; height: 100%; opacity: 0;}
.last_new img{width: 100%; height: 100%; opacity: 0;}
.word-desc{margin: 5%;}
.new_box_product_cont .swiper-slide .product-item{transform:scale(1)}
.hot_box_product_cont .swiper-slide .product-item{transform: scale(1);}
.product-img{height: auto;}
























