<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.AppuserInfoMapper">
	<resultMap id="BaseResultMap" type="com.atguigu.bean.AppuserInfo">
		<id column="appuser_id" jdbcType="INTEGER" property="appuserId" />
		<result column="appuser_ip" jdbcType="VARCHAR" property="appuserIp" />
		<result column="appuser_mobile" jdbcType="VARCHAR" property="appuserMobile" />
		<result column="appuser_name" jdbcType="VARCHAR" property="appuserName" />
		<result column="appuser_udid" jdbcType="VARCHAR" property="appuserUdid" />
		<result column="appuser_idfa" jdbcType="VARCHAR" property="appuserIdfa" />
		<result column="appuser_createtime" jdbcType="VARCHAR"
			property="appuserCreatetime" />
		<result column="appuser_lasttime" jdbcType="VARCHAR" property="appuserLasttime" />
		<result column="appuser_spareone" jdbcType="INTEGER" property="appuserSpareone" />
		<result column="appuser_sparetwo" jdbcType="INTEGER" property="appuserSparetwo" />
		<result column="appuser_sparethree" jdbcType="VARCHAR"
			property="appuserSparethree" />
		<result column="appuser_sparefour" jdbcType="VARCHAR" property="appuserSparefour" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		appuser_id, appuser_ip, appuser_mobile, appuser_name, appuser_udid, appuser_idfa,
		appuser_createtime, appuser_lasttime, appuser_spareone,
		appuser_sparetwo, appuser_sparethree,
		appuser_sparefour
	</sql>
	<select id="selectByExample" parameterType="com.atguigu.bean.AppuserInfoExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_appuser_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_appuser_info
		where appuser_id = #{appuserId,jdbcType=INTEGER}
	</select>

	<delete id="deleteByExample" parameterType="com.atguigu.bean.AppuserInfoExample">
		delete from tb_appuser_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.atguigu.bean.AppuserInfo">
		insert into tb_appuser_info (appuser_id, appuser_ip, appuser_mobile,
		appuser_name, appuser_udid, appuser_idfa,
		appuser_createtime, appuser_lasttime, appuser_spareone,
		appuser_sparetwo, appuser_sparethree, appuser_sparefour
		)
		values (#{appuserId,jdbcType=INTEGER}, #{appuserIp,jdbcType=VARCHAR},
		#{appuserMobile,jdbcType=VARCHAR},
		#{appuserName,jdbcType=VARCHAR}, #{appuserUdid,jdbcType=VARCHAR}, #{appuserIdfa,jdbcType=VARCHAR},
		#{appuserCreatetime,jdbcType=VARCHAR},
		#{appuserLasttime,jdbcType=VARCHAR},
		#{appuserSpareone,jdbcType=INTEGER},
		#{appuserSparetwo,jdbcType=INTEGER},
		#{appuserSparethree,jdbcType=VARCHAR},
		#{appuserSparefour,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="countByExample" parameterType="com.atguigu.bean.AppuserInfoExample"
		resultType="java.lang.Long">
		select count(*) from tb_appuser_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_appuser_info
		<set>
			<if test="record.appuserId != null">
				appuser_id = #{record.appuserId,jdbcType=INTEGER},
			</if>
			<if test="record.appuserIp != null">
				appuser_ip = #{record.appuserIp,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserMobile != null">
				appuser_mobile = #{record.appuserMobile,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserName != null">
				appuser_name = #{record.appuserName,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserUdid != null">
				appuser_udid = #{record.appuserUdid,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserIdfa != null">
				appuser_idfa = #{record.appuserIdfa,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserCreatetime != null">
				appuser_createtime = #{record.appuserCreatetime,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserLasttime != null">
				appuser_lasttime = #{record.appuserLasttime,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserSpareone != null">
				appuser_spareone = #{record.appuserSpareone,jdbcType=INTEGER},
			</if>
			<if test="record.appuserSparetwo != null">
				appuser_sparetwo = #{record.appuserSparetwo,jdbcType=INTEGER},
			</if>
			<if test="record.appuserSparethree != null">
				appuser_sparethree = #{record.appuserSparethree,jdbcType=VARCHAR},
			</if>
			<if test="record.appuserSparefour != null">
				appuser_sparefour = #{record.appuserSparefour,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_appuser_info
		set appuser_id = #{record.appuserId,jdbcType=INTEGER},
		appuser_ip = #{record.appuserIp,jdbcType=VARCHAR},
		appuser_mobile = #{record.appuserMobile,jdbcType=VARCHAR},
		appuser_name = #{record.appuserName,jdbcType=VARCHAR},
		appuser_udid = #{record.appuserUdid,jdbcType=VARCHAR},
		appuser_idfa = #{record.appuserIdfa,jdbcType=VARCHAR},
		appuser_createtime = #{record.appuserCreatetime,jdbcType=VARCHAR},
		appuser_lasttime = #{record.appuserLasttime,jdbcType=VARCHAR},
		appuser_spareone = #{record.appuserSpareone,jdbcType=INTEGER},
		appuser_sparetwo = #{record.appuserSparetwo,jdbcType=INTEGER},
		appuser_sparethree = #{record.appuserSparethree,jdbcType=VARCHAR},
		appuser_sparefour = #{record.appuserSparefour,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKey" parameterType="com.atguigu.bean.AppuserInfo">
		update tb_appuser_info
		set appuser_ip = #{appuserIp,jdbcType=VARCHAR},
		appuser_mobile = #{appuserMobile,jdbcType=VARCHAR},
		appuser_name = #{appuserName,jdbcType=VARCHAR},
		appuser_udid = #{appuserUdid,jdbcType=VARCHAR},
		appuser_idfa = #{appuserIdfa,jdbcType=VARCHAR},
		appuser_createtime = #{appuserCreatetime,jdbcType=VARCHAR},
		appuser_lasttime = #{appuserLasttime,jdbcType=VARCHAR},
		appuser_spareone = #{appuserSpareone,jdbcType=INTEGER},
		appuser_sparetwo = #{appuserSparetwo,jdbcType=INTEGER},
		appuser_sparethree = #{appuserSparethree,jdbcType=VARCHAR},
		appuser_sparefour = #{appuserSparefour,jdbcType=VARCHAR}
		where appuser_id = #{appuserId,jdbcType=INTEGER}
	</update>


	<!-- -->
	<!-- -->
	<!-- -->
	<!-- -->
	<!-- -->
	<!-- -->
	<!-- -->


	<!-- appUser表发布zsh insert -->
	<insert id="insertSelective" parameterType="com.atguigu.bean.AppuserInfo">
		insert into tb_appuser_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appuserId != null">
				appuser_id,
			</if>
			<if test="appuserIp != null">
				appuser_ip,
			</if>
			<if test="appuserMobile != null">
				appuser_mobile,
			</if>
			<if test="appuserName != null">
				appuser_name,
			</if>
			<if test="appuserUdid != null">
				appuser_udid,
			</if>
			<if test="appuserIdfa != null">
				appuser_idfa,
			</if>
			<if test="appuserCreatetime != null">
				appuser_createtime,
			</if>
			<if test="appuserLasttime != null">
				appuser_lasttime,
			</if>
			<if test="appuserSpareone != null">
				appuser_spareone,
			</if>
			<if test="appuserSparetwo != null">
				appuser_sparetwo,
			</if>
			<if test="appuserSparethree != null">
				appuser_sparethree,
			</if>
			<if test="appuserSparefour != null">
				appuser_sparefour,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appuserId != null">
				#{appuserId,jdbcType=INTEGER},
			</if>
			<if test="appuserIp != null">
				#{appuserIp,jdbcType=VARCHAR},
			</if>
			<if test="appuserMobile != null">
				#{appuserMobile,jdbcType=VARCHAR},
			</if>
			<if test="appuserName != null">
				#{appuserName,jdbcType=VARCHAR},
			</if>
			<if test="appuserUdid != null">
				#{appuserUdid,jdbcType=VARCHAR},
			</if>
			<if test="appuserIdfa != null">
				#{appuserIdfa,jdbcType=VARCHAR},
			</if>
			<if test="appuserCreatetime != null">
				#{appuserCreatetime,jdbcType=VARCHAR},
			</if>
			<if test="appuserLasttime != null">
				#{appuserLasttime,jdbcType=VARCHAR},
			</if>
			<if test="appuserSpareone != null">
				#{appuserSpareone,jdbcType=INTEGER},
			</if>
			<if test="appuserSparetwo != null">
				#{appuserSparetwo,jdbcType=INTEGER},
			</if>
			<if test="appuserSparethree != null">
				#{appuserSparethree,jdbcType=VARCHAR},
			</if>
			<if test="appuserSparefour != null">
				#{appuserSparefour,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- appUser表修改zsh update -->
	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.AppuserInfo">
		update tb_appuser_info
		<set>
			<if test="appuserIp != null">
				appuser_ip = #{appuserIp,jdbcType=VARCHAR},
			</if>
			<if test="appuserMobile != null">
				appuser_mobile = #{appuserMobile,jdbcType=VARCHAR},
			</if>
			<if test="appuserName != null">
				appuser_name = #{appuserName,jdbcType=VARCHAR},
			</if>
			<if test="appuserUdid != null">
				appuser_udid = #{appuserUdid,jdbcType=VARCHAR},
			</if>
			<if test="appuserIdfa != null">
				appuser_idfa = #{appuserIdfa,jdbcType=VARCHAR},
			</if>
			<if test="appuserCreatetime != null">
				appuser_createtime = #{appuserCreatetime,jdbcType=VARCHAR},
			</if>
			<if test="appuserLasttime != null">
				appuser_lasttime = #{appuserLasttime,jdbcType=VARCHAR},
			</if>
			<if test="appuserSpareone != null">
				appuser_spareone = #{appuserSpareone,jdbcType=INTEGER},
			</if>
			<if test="appuserSparetwo != null">
				appuser_sparetwo = #{appuserSparetwo,jdbcType=INTEGER},
			</if>
			<if test="appuserSparethree != null">
				appuser_sparethree = #{appuserSparethree,jdbcType=VARCHAR},
			</if>
			<if test="appuserSparefour != null">
				appuser_sparefour = #{appuserSparefour,jdbcType=VARCHAR},
			</if>
		</set>
		where appuser_id = #{appuserId,jdbcType=INTEGER}
	</update>
	<!-- appUser表修改zsh delete -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_appuser_info
		where appuser_id = #{appuserId,jdbcType=INTEGER}
	</delete>
	<!-- appUser表查询全部zsh getAll -->
  <select id="getAppuserInfoAll" parameterType="com.atguigu.bean.AppuserInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_appuser_info order by appuser_id desc
  </select>
  <!-- 任务信息条件查询zsh getSome -->
  <select id="getAppuserInfoByConditions" parameterType="com.atguigu.bean.AppuserInfo" resultMap="BaseResultMap">
  select
    <include refid="Base_Column_List" />
    from tb_appuser_info
    <trim prefix="where" suffixOverrides="and">
		<if test="appuserId != null">
			appuser_id = #{appuserId,jdbcType=INTEGER}and
		</if>
		<if test="appuserIp != null">
			appuser_ip = #{appuserIp,jdbcType=VARCHAR}and
		</if>
		<if test="appuserMobile != null">
			appuser_mobile = #{appuserMobile,jdbcType=VARCHAR}and
		</if>
		<if test="appuserName != null">
			appuser_name = #{appuserName,jdbcType=VARCHAR}and
		</if>
		<if test="appuserUdid != null">
			appuser_udid = #{appuserUdid,jdbcType=VARCHAR}and
		</if>
		<if test="appuserIdfa != null">
			appuser_idfa = #{appuserIdfa,jdbcType=VARCHAR}and
		</if>
		<if test="appuserCreatetime != null">
			appuser_createtime = #{appuserCreatetime,jdbcType=VARCHAR}and
		</if>
		<if test="appuserLasttime != null">
			appuser_lasttime = #{appuserLasttime,jdbcType=VARCHAR}and
		</if>
		<if test="appuserSpareone != null">
			appuser_spareone = #{appuserSpareone,jdbcType=INTEGER}and
		</if>
		<if test="appuserSparetwo != null">
			appuser_sparetwo = #{appuserSparetwo,jdbcType=INTEGER}and
		</if>
		<if test="appuserSparethree != null">
			appuser_sparethree = #{appuserSparethree,jdbcType=VARCHAR}and
		</if>
		<if test="appuserSparefour != null">
			appuser_sparefour = #{appuserSparefour,jdbcType=VARCHAR}and
		</if>
	</trim>
  </select>
</mapper>