<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlbackChannelMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlbackChannel">
    <id column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="channel_uname" jdbcType="VARCHAR" property="channelUname" />
    <result column="channel_number" jdbcType="VARCHAR" property="channelNumber" />
    <result column="channel_createTime" jdbcType="VARCHAR" property="channelCreatetime" />
    <result column="channel_motifyTime" jdbcType="VARCHAR" property="channelMotifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    channel_id, channel_uname, channel_number, channel_createTime, channel_motifyTime
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlbackChannelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlback_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlback_channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlbackChannelExample">
    delete from tb_mlback_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlbackChannel">
    insert into tb_mlback_channel (channel_id, channel_uname, channel_number, 
      channel_createTime, channel_motifyTime)
    values (#{channelId,jdbcType=INTEGER}, #{channelUname,jdbcType=VARCHAR}, #{channelNumber,jdbcType=VARCHAR}, 
      #{channelCreatetime,jdbcType=VARCHAR}, #{channelMotifytime,jdbcType=VARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlbackChannelExample" resultType="java.lang.Long">
    select count(*) from tb_mlback_channel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlback_channel
    <set>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.channelUname != null">
        channel_uname = #{record.channelUname,jdbcType=VARCHAR},
      </if>
      <if test="record.channelNumber != null">
        channel_number = #{record.channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.channelCreatetime != null">
        channel_createTime = #{record.channelCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.channelMotifytime != null">
        channel_motifyTime = #{record.channelMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlback_channel
    set channel_id = #{record.channelId,jdbcType=INTEGER},
      channel_uname = #{record.channelUname,jdbcType=VARCHAR},
      channel_number = #{record.channelNumber,jdbcType=VARCHAR},
      channel_createTime = #{record.channelCreatetime,jdbcType=VARCHAR},
      channel_motifyTime = #{record.channelMotifytime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlbackChannel">
    update tb_mlback_channel
    set channel_uname = #{channelUname,jdbcType=VARCHAR},
      channel_number = #{channelNumber,jdbcType=VARCHAR},
      channel_createTime = #{channelCreatetime,jdbcType=VARCHAR},
      channel_motifyTime = #{channelMotifytime,jdbcType=VARCHAR}
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
  
  <!-- insertSelective -->
  <insert id="insertSelective" parameterType="com.atguigu.bean.MlbackChannel">
    insert into tb_mlback_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="channelUname != null">
        channel_uname,
      </if>
      <if test="channelNumber != null">
        channel_number,
      </if>
      <if test="channelCreatetime != null">
        channel_createTime,
      </if>
      <if test="channelMotifytime != null">
        channel_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelUname != null">
        #{channelUname,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null">
        #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="channelCreatetime != null">
        #{channelCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="channelMotifytime != null">
        #{channelMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlback_channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </delete>
  
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlbackChannel">
    update tb_mlback_channel
    <set>
      <if test="channelUname != null">
        channel_uname = #{channelUname,jdbcType=VARCHAR},
      </if>
      <if test="channelNumber != null">
        channel_number = #{channelNumber,jdbcType=VARCHAR},
      </if>
      <if test="channelCreatetime != null">
        channel_createTime = #{channelCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="channelMotifytime != null">
        channel_motifyTime = #{channelMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
  
  <!-- selectMlbackChannelById -->
  <select id="selectMlbackChannelById" parameterType="com.atguigu.bean.MlbackChannel" resultMap="BaseResultMap">
    select *
    from tb_mlback_channel 
    where channel_id = #{channelId,jdbcType=INTEGER}
  </select>
  
  <!-- selectMlbackChannelGetAll -->
  <select id="selectMlbackChannelGetAll" parameterType="com.atguigu.bean.MlbackChannel" resultMap="BaseResultMap">
    select *
    from tb_mlback_channel order by channel_id desc
  </select>
  
</mapper>