<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlbackVideoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlbackVideo">
    <id column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_area" jdbcType="INTEGER" property="videoArea" />
    <result column="video_orderth_num" jdbcType="INTEGER" property="videoOrderthNum" />
    <result column="video_wapstatus" jdbcType="INTEGER" property="videoWapstatus" />
    <result column="video_pcstatus" jdbcType="INTEGER" property="videoPcstatus" />
    <result column="video_wapVideourl" jdbcType="VARCHAR" property="videoWapvideourl" />
    <result column="video_pcVideurl" jdbcType="VARCHAR" property="videoPcvideurl" />
    <result column="video_proid" jdbcType="INTEGER" property="videoProid" />
    <result column="video_proname" jdbcType="VARCHAR" property="videoProname" />
    <result column="video_seoname" jdbcType="VARCHAR" property="videoSeoname" />
    <result column="video_cateid" jdbcType="INTEGER" property="videoCateid" />
    <result column="video_catename" jdbcType="VARCHAR" property="videoCatename" />
    <result column="video_cateSeoname" jdbcType="VARCHAR" property="videoCateseoname" />
    <result column="video_ifproORcateORpage" jdbcType="INTEGER" property="videoIfproorcateorpage" />
    <result column="video_pagename" jdbcType="VARCHAR" property="videoPagename" />
    <result column="video_pageSeoname" jdbcType="VARCHAR" property="videoPageseoname" />
    <result column="video_pagewapimgurl" jdbcType="VARCHAR" property="videoPagewapimgurl" />
    <result column="video_pagepcimgurl" jdbcType="VARCHAR" property="videoPagepcimgurl" />
    <result column="video_ifinto" jdbcType="INTEGER" property="videoIfinto" />
    <result column="video_createTime" jdbcType="VARCHAR" property="videoCreatetime" />
    <result column="video_motifyTime" jdbcType="VARCHAR" property="videoMotifytime" />
    <result column="video_startTime" jdbcType="VARCHAR" property="videoStarttime" />
    <result column="video_endTime" jdbcType="VARCHAR" property="videoEndtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    video_id, video_name, video_area, video_orderth_num, video_wapstatus, video_pcstatus, 
    video_wapVideourl, video_pcVideurl, video_proid, video_proname, video_seoname, video_cateid, 
    video_catename, video_cateSeoname, video_ifproORcateORpage, video_pagename, video_pageSeoname, 
    video_pagewapimgurl, video_pagepcimgurl, video_ifinto, video_createTime, video_motifyTime, 
    video_startTime, video_endTime
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlbackVideoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlback_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlback_video
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlbackVideoExample">
    delete from tb_mlback_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlbackVideo">
    insert into tb_mlback_video (video_id, video_name, video_area, 
      video_orderth_num, video_wapstatus, video_pcstatus, 
      video_wapVideourl, video_pcVideurl, video_proid, 
      video_proname, video_seoname, video_cateid, 
      video_catename, video_cateSeoname, video_ifproORcateORpage, 
      video_pagename, video_pageSeoname, video_pagewapimgurl, 
      video_pagepcimgurl, video_ifinto, video_createTime, 
      video_motifyTime, video_startTime, video_endTime
      )
    values (#{videoId,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{videoArea,jdbcType=INTEGER}, 
      #{videoOrderthNum,jdbcType=INTEGER}, #{videoWapstatus,jdbcType=INTEGER}, #{videoPcstatus,jdbcType=INTEGER}, 
      #{videoWapvideourl,jdbcType=VARCHAR}, #{videoPcvideurl,jdbcType=VARCHAR}, #{videoProid,jdbcType=INTEGER}, 
      #{videoProname,jdbcType=VARCHAR}, #{videoSeoname,jdbcType=VARCHAR}, #{videoCateid,jdbcType=INTEGER}, 
      #{videoCatename,jdbcType=VARCHAR}, #{videoCateseoname,jdbcType=VARCHAR}, #{videoIfproorcateorpage,jdbcType=INTEGER}, 
      #{videoPagename,jdbcType=VARCHAR}, #{videoPageseoname,jdbcType=VARCHAR}, #{videoPagewapimgurl,jdbcType=VARCHAR}, 
      #{videoPagepcimgurl,jdbcType=VARCHAR}, #{videoIfinto,jdbcType=INTEGER}, #{videoCreatetime,jdbcType=VARCHAR}, 
      #{videoMotifytime,jdbcType=VARCHAR}, #{videoStarttime,jdbcType=VARCHAR}, #{videoEndtime,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlbackVideoExample" resultType="java.lang.Long">
    select count(*) from tb_mlback_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlback_video
    <set>
      <if test="record.videoId != null">
        video_id = #{record.videoId,jdbcType=INTEGER},
      </if>
      <if test="record.videoName != null">
        video_name = #{record.videoName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoArea != null">
        video_area = #{record.videoArea,jdbcType=INTEGER},
      </if>
      <if test="record.videoOrderthNum != null">
        video_orderth_num = #{record.videoOrderthNum,jdbcType=INTEGER},
      </if>
      <if test="record.videoWapstatus != null">
        video_wapstatus = #{record.videoWapstatus,jdbcType=INTEGER},
      </if>
      <if test="record.videoPcstatus != null">
        video_pcstatus = #{record.videoPcstatus,jdbcType=INTEGER},
      </if>
      <if test="record.videoWapvideourl != null">
        video_wapVideourl = #{record.videoWapvideourl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoPcvideurl != null">
        video_pcVideurl = #{record.videoPcvideurl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoProid != null">
        video_proid = #{record.videoProid,jdbcType=INTEGER},
      </if>
      <if test="record.videoProname != null">
        video_proname = #{record.videoProname,jdbcType=VARCHAR},
      </if>
      <if test="record.videoSeoname != null">
        video_seoname = #{record.videoSeoname,jdbcType=VARCHAR},
      </if>
      <if test="record.videoCateid != null">
        video_cateid = #{record.videoCateid,jdbcType=INTEGER},
      </if>
      <if test="record.videoCatename != null">
        video_catename = #{record.videoCatename,jdbcType=VARCHAR},
      </if>
      <if test="record.videoCateseoname != null">
        video_cateSeoname = #{record.videoCateseoname,jdbcType=VARCHAR},
      </if>
      <if test="record.videoIfproorcateorpage != null">
        video_ifproORcateORpage = #{record.videoIfproorcateorpage,jdbcType=INTEGER},
      </if>
      <if test="record.videoPagename != null">
        video_pagename = #{record.videoPagename,jdbcType=VARCHAR},
      </if>
      <if test="record.videoPageseoname != null">
        video_pageSeoname = #{record.videoPageseoname,jdbcType=VARCHAR},
      </if>
      <if test="record.videoPagewapimgurl != null">
        video_pagewapimgurl = #{record.videoPagewapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoPagepcimgurl != null">
        video_pagepcimgurl = #{record.videoPagepcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoIfinto != null">
        video_ifinto = #{record.videoIfinto,jdbcType=INTEGER},
      </if>
      <if test="record.videoCreatetime != null">
        video_createTime = #{record.videoCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.videoMotifytime != null">
        video_motifyTime = #{record.videoMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="record.videoStarttime != null">
        video_startTime = #{record.videoStarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.videoEndtime != null">
        video_endTime = #{record.videoEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlback_video
    set video_id = #{record.videoId,jdbcType=INTEGER},
      video_name = #{record.videoName,jdbcType=VARCHAR},
      video_area = #{record.videoArea,jdbcType=INTEGER},
      video_orderth_num = #{record.videoOrderthNum,jdbcType=INTEGER},
      video_wapstatus = #{record.videoWapstatus,jdbcType=INTEGER},
      video_pcstatus = #{record.videoPcstatus,jdbcType=INTEGER},
      video_wapVideourl = #{record.videoWapvideourl,jdbcType=VARCHAR},
      video_pcVideurl = #{record.videoPcvideurl,jdbcType=VARCHAR},
      video_proid = #{record.videoProid,jdbcType=INTEGER},
      video_proname = #{record.videoProname,jdbcType=VARCHAR},
      video_seoname = #{record.videoSeoname,jdbcType=VARCHAR},
      video_cateid = #{record.videoCateid,jdbcType=INTEGER},
      video_catename = #{record.videoCatename,jdbcType=VARCHAR},
      video_cateSeoname = #{record.videoCateseoname,jdbcType=VARCHAR},
      video_ifproORcateORpage = #{record.videoIfproorcateorpage,jdbcType=INTEGER},
      video_pagename = #{record.videoPagename,jdbcType=VARCHAR},
      video_pageSeoname = #{record.videoPageseoname,jdbcType=VARCHAR},
      video_pagewapimgurl = #{record.videoPagewapimgurl,jdbcType=VARCHAR},
      video_pagepcimgurl = #{record.videoPagepcimgurl,jdbcType=VARCHAR},
      video_ifinto = #{record.videoIfinto,jdbcType=INTEGER},
      video_createTime = #{record.videoCreatetime,jdbcType=VARCHAR},
      video_motifyTime = #{record.videoMotifytime,jdbcType=VARCHAR},
      video_startTime = #{record.videoStarttime,jdbcType=VARCHAR},
      video_endTime = #{record.videoEndtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlbackVideo">
    update tb_mlback_video
    set video_name = #{videoName,jdbcType=VARCHAR},
      video_area = #{videoArea,jdbcType=INTEGER},
      video_orderth_num = #{videoOrderthNum,jdbcType=INTEGER},
      video_wapstatus = #{videoWapstatus,jdbcType=INTEGER},
      video_pcstatus = #{videoPcstatus,jdbcType=INTEGER},
      video_wapVideourl = #{videoWapvideourl,jdbcType=VARCHAR},
      video_pcVideurl = #{videoPcvideurl,jdbcType=VARCHAR},
      video_proid = #{videoProid,jdbcType=INTEGER},
      video_proname = #{videoProname,jdbcType=VARCHAR},
      video_seoname = #{videoSeoname,jdbcType=VARCHAR},
      video_cateid = #{videoCateid,jdbcType=INTEGER},
      video_catename = #{videoCatename,jdbcType=VARCHAR},
      video_cateSeoname = #{videoCateseoname,jdbcType=VARCHAR},
      video_ifproORcateORpage = #{videoIfproorcateorpage,jdbcType=INTEGER},
      video_pagename = #{videoPagename,jdbcType=VARCHAR},
      video_pageSeoname = #{videoPageseoname,jdbcType=VARCHAR},
      video_pagewapimgurl = #{videoPagewapimgurl,jdbcType=VARCHAR},
      video_pagepcimgurl = #{videoPagepcimgurl,jdbcType=VARCHAR},
      video_ifinto = #{videoIfinto,jdbcType=INTEGER},
      video_createTime = #{videoCreatetime,jdbcType=VARCHAR},
      video_motifyTime = #{videoMotifytime,jdbcType=VARCHAR},
      video_startTime = #{videoStarttime,jdbcType=VARCHAR},
      video_endTime = #{videoEndtime,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  
  <!-- insertSelective -->
  <insert id="insertSelective" parameterType="com.atguigu.bean.MlbackVideo">
    insert into tb_mlback_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="videoArea != null">
        video_area,
      </if>
      <if test="videoOrderthNum != null">
        video_orderth_num,
      </if>
      <if test="videoWapstatus != null">
        video_wapstatus,
      </if>
      <if test="videoPcstatus != null">
        video_pcstatus,
      </if>
      <if test="videoWapvideourl != null">
        video_wapVideourl,
      </if>
      <if test="videoPcvideurl != null">
        video_pcVideurl,
      </if>
      <if test="videoProid != null">
        video_proid,
      </if>
      <if test="videoProname != null">
        video_proname,
      </if>
      <if test="videoSeoname != null">
        video_seoname,
      </if>
      <if test="videoCateid != null">
        video_cateid,
      </if>
      <if test="videoCatename != null">
        video_catename,
      </if>
      <if test="videoCateseoname != null">
        video_cateSeoname,
      </if>
      <if test="videoIfproorcateorpage != null">
        video_ifproORcateORpage,
      </if>
      <if test="videoPagename != null">
        video_pagename,
      </if>
      <if test="videoPageseoname != null">
        video_pageSeoname,
      </if>
      <if test="videoPagewapimgurl != null">
        video_pagewapimgurl,
      </if>
      <if test="videoPagepcimgurl != null">
        video_pagepcimgurl,
      </if>
      <if test="videoIfinto != null">
        video_ifinto,
      </if>
      <if test="videoCreatetime != null">
        video_createTime,
      </if>
      <if test="videoMotifytime != null">
        video_motifyTime,
      </if>
      <if test="videoStarttime != null">
        video_startTime,
      </if>
      <if test="videoEndtime != null">
        video_endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoArea != null">
        #{videoArea,jdbcType=INTEGER},
      </if>
      <if test="videoOrderthNum != null">
        #{videoOrderthNum,jdbcType=INTEGER},
      </if>
      <if test="videoWapstatus != null">
        #{videoWapstatus,jdbcType=INTEGER},
      </if>
      <if test="videoPcstatus != null">
        #{videoPcstatus,jdbcType=INTEGER},
      </if>
      <if test="videoWapvideourl != null">
        #{videoWapvideourl,jdbcType=VARCHAR},
      </if>
      <if test="videoPcvideurl != null">
        #{videoPcvideurl,jdbcType=VARCHAR},
      </if>
      <if test="videoProid != null">
        #{videoProid,jdbcType=INTEGER},
      </if>
      <if test="videoProname != null">
        #{videoProname,jdbcType=VARCHAR},
      </if>
      <if test="videoSeoname != null">
        #{videoSeoname,jdbcType=VARCHAR},
      </if>
      <if test="videoCateid != null">
        #{videoCateid,jdbcType=INTEGER},
      </if>
      <if test="videoCatename != null">
        #{videoCatename,jdbcType=VARCHAR},
      </if>
      <if test="videoCateseoname != null">
        #{videoCateseoname,jdbcType=VARCHAR},
      </if>
      <if test="videoIfproorcateorpage != null">
        #{videoIfproorcateorpage,jdbcType=INTEGER},
      </if>
      <if test="videoPagename != null">
        #{videoPagename,jdbcType=VARCHAR},
      </if>
      <if test="videoPageseoname != null">
        #{videoPageseoname,jdbcType=VARCHAR},
      </if>
      <if test="videoPagewapimgurl != null">
        #{videoPagewapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="videoPagepcimgurl != null">
        #{videoPagepcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="videoIfinto != null">
        #{videoIfinto,jdbcType=INTEGER},
      </if>
      <if test="videoCreatetime != null">
        #{videoCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="videoMotifytime != null">
        #{videoMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="videoStarttime != null">
        #{videoStarttime,jdbcType=VARCHAR},
      </if>
      <if test="videoEndtime != null">
        #{videoEndtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlback_video
    where video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlbackVideo">
    update tb_mlback_video
    <set>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoArea != null">
        video_area = #{videoArea,jdbcType=INTEGER},
      </if>
      <if test="videoOrderthNum != null">
        video_orderth_num = #{videoOrderthNum,jdbcType=INTEGER},
      </if>
      <if test="videoWapstatus != null">
        video_wapstatus = #{videoWapstatus,jdbcType=INTEGER},
      </if>
      <if test="videoPcstatus != null">
        video_pcstatus = #{videoPcstatus,jdbcType=INTEGER},
      </if>
      <if test="videoWapvideourl != null">
        video_wapVideourl = #{videoWapvideourl,jdbcType=VARCHAR},
      </if>
      <if test="videoPcvideurl != null">
        video_pcVideurl = #{videoPcvideurl,jdbcType=VARCHAR},
      </if>
      <if test="videoProid != null">
        video_proid = #{videoProid,jdbcType=INTEGER},
      </if>
      <if test="videoProname != null">
        video_proname = #{videoProname,jdbcType=VARCHAR},
      </if>
      <if test="videoSeoname != null">
        video_seoname = #{videoSeoname,jdbcType=VARCHAR},
      </if>
      <if test="videoCateid != null">
        video_cateid = #{videoCateid,jdbcType=INTEGER},
      </if>
      <if test="videoCatename != null">
        video_catename = #{videoCatename,jdbcType=VARCHAR},
      </if>
      <if test="videoCateseoname != null">
        video_cateSeoname = #{videoCateseoname,jdbcType=VARCHAR},
      </if>
      <if test="videoIfproorcateorpage != null">
        video_ifproORcateORpage = #{videoIfproorcateorpage,jdbcType=INTEGER},
      </if>
      <if test="videoPagename != null">
        video_pagename = #{videoPagename,jdbcType=VARCHAR},
      </if>
      <if test="videoPageseoname != null">
        video_pageSeoname = #{videoPageseoname,jdbcType=VARCHAR},
      </if>
      <if test="videoPagewapimgurl != null">
        video_pagewapimgurl = #{videoPagewapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="videoPagepcimgurl != null">
        video_pagepcimgurl = #{videoPagepcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="videoIfinto != null">
        video_ifinto = #{videoIfinto,jdbcType=INTEGER},
      </if>
      <if test="videoCreatetime != null">
        video_createTime = #{videoCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="videoMotifytime != null">
        video_motifyTime = #{videoMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="videoStarttime != null">
        video_startTime = #{videoStarttime,jdbcType=VARCHAR},
      </if>
      <if test="videoEndtime != null">
        video_endTime = #{videoEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  
  <!-- selectMlbackVideoById -->
  <select id="selectMlbackVideoById" parameterType="com.atguigu.bean.MlbackVideo" resultMap="BaseResultMap">
    select *
    from tb_mlback_video 
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>
  
  <!-- selectMlbackVideoGetAll -->
  <select id="selectMlbackVideoGetAll" parameterType="com.atguigu.bean.MlbackVideo" resultMap="BaseResultMap">
    select *
    from tb_mlback_video order by video_id desc
  </select>
  
   <!-- selectMlbackvideoByVideoArea -->
  <select id="selectMlbackvideoByVideoArea" parameterType="com.atguigu.bean.MlbackVideo" resultMap="BaseResultMap">
    select *
    from tb_mlback_video 
    where video_area = #{videoArea,jdbcType=INTEGER}
    order by video_orderth_num
  </select>
  
  
</mapper>