<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlbackCouponDescTitleMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlbackCouponDescTitle">
    <id column="coupondesctiele_id" jdbcType="INTEGER" property="coupondesctieleId" />
    <result column="coupondesctiele_name" jdbcType="VARCHAR" property="coupondesctieleName" />
    <result column="coupondesctiele_tieleDetail" jdbcType="VARCHAR" property="coupondesctieleTieledetail" />
    <result column="coupondesctiele_wapstatus" jdbcType="INTEGER" property="coupondesctieleWapstatus" />
    <result column="coupondesctiele_wapimgurl" jdbcType="VARCHAR" property="coupondesctieleWapimgurl" />
    <result column="coupondesctiele_pcstatus" jdbcType="INTEGER" property="coupondesctielePcstatus" />
    <result column="coupondesctiele_pcimgurl" jdbcType="VARCHAR" property="coupondesctielePcimgurl" />
    <result column="coupondesctiele_createTime" jdbcType="VARCHAR" property="coupondesctieleCreatetime" />
    <result column="coupondesctiele_motifyTime" jdbcType="VARCHAR" property="coupondesctieleMotifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    coupondesctiele_id, coupondesctiele_name, coupondesctiele_tieleDetail, coupondesctiele_wapstatus, 
    coupondesctiele_wapimgurl, coupondesctiele_pcstatus, coupondesctiele_pcimgurl, coupondesctiele_createTime, 
    coupondesctiele_motifyTime
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlbackCouponDescTitleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlback_coupondesctitle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlback_coupondesctitle
    where coupondesctiele_id = #{coupondesctieleId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlbackCouponDescTitleExample">
    delete from tb_mlback_coupondesctitle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlbackCouponDescTitle">
    insert into tb_mlback_coupondesctitle (coupondesctiele_id, coupondesctiele_name, 
      coupondesctiele_tieleDetail, coupondesctiele_wapstatus, 
      coupondesctiele_wapimgurl, coupondesctiele_pcstatus, 
      coupondesctiele_pcimgurl, coupondesctiele_createTime, 
      coupondesctiele_motifyTime)
    values (#{coupondesctieleId,jdbcType=INTEGER}, #{coupondesctieleName,jdbcType=VARCHAR}, 
      #{coupondesctieleTieledetail,jdbcType=VARCHAR}, #{coupondesctieleWapstatus,jdbcType=INTEGER}, 
      #{coupondesctieleWapimgurl,jdbcType=VARCHAR}, #{coupondesctielePcstatus,jdbcType=INTEGER}, 
      #{coupondesctielePcimgurl,jdbcType=VARCHAR}, #{coupondesctieleCreatetime,jdbcType=VARCHAR}, 
      #{coupondesctieleMotifytime,jdbcType=VARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlbackCouponDescTitleExample" resultType="java.lang.Long">
    select count(*) from tb_mlback_coupondesctitle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlback_coupondesctitle
    <set>
      <if test="record.coupondesctieleId != null">
        coupondesctiele_id = #{record.coupondesctieleId,jdbcType=INTEGER},
      </if>
      <if test="record.coupondesctieleName != null">
        coupondesctiele_name = #{record.coupondesctieleName,jdbcType=VARCHAR},
      </if>
      <if test="record.coupondesctieleTieledetail != null">
        coupondesctiele_tieleDetail = #{record.coupondesctieleTieledetail,jdbcType=VARCHAR},
      </if>
      <if test="record.coupondesctieleWapstatus != null">
        coupondesctiele_wapstatus = #{record.coupondesctieleWapstatus,jdbcType=INTEGER},
      </if>
      <if test="record.coupondesctieleWapimgurl != null">
        coupondesctiele_wapimgurl = #{record.coupondesctieleWapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.coupondesctielePcstatus != null">
        coupondesctiele_pcstatus = #{record.coupondesctielePcstatus,jdbcType=INTEGER},
      </if>
      <if test="record.coupondesctielePcimgurl != null">
        coupondesctiele_pcimgurl = #{record.coupondesctielePcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.coupondesctieleCreatetime != null">
        coupondesctiele_createTime = #{record.coupondesctieleCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.coupondesctieleMotifytime != null">
        coupondesctiele_motifyTime = #{record.coupondesctieleMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlback_coupondesctitle
    set coupondesctiele_id = #{record.coupondesctieleId,jdbcType=INTEGER},
      coupondesctiele_name = #{record.coupondesctieleName,jdbcType=VARCHAR},
      coupondesctiele_tieleDetail = #{record.coupondesctieleTieledetail,jdbcType=VARCHAR},
      coupondesctiele_wapstatus = #{record.coupondesctieleWapstatus,jdbcType=INTEGER},
      coupondesctiele_wapimgurl = #{record.coupondesctieleWapimgurl,jdbcType=VARCHAR},
      coupondesctiele_pcstatus = #{record.coupondesctielePcstatus,jdbcType=INTEGER},
      coupondesctiele_pcimgurl = #{record.coupondesctielePcimgurl,jdbcType=VARCHAR},
      coupondesctiele_createTime = #{record.coupondesctieleCreatetime,jdbcType=VARCHAR},
      coupondesctiele_motifyTime = #{record.coupondesctieleMotifytime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlbackCouponDescTitle">
    update tb_mlback_coupondesctitle
    set coupondesctiele_name = #{coupondesctieleName,jdbcType=VARCHAR},
      coupondesctiele_tieleDetail = #{coupondesctieleTieledetail,jdbcType=VARCHAR},
      coupondesctiele_wapstatus = #{coupondesctieleWapstatus,jdbcType=INTEGER},
      coupondesctiele_wapimgurl = #{coupondesctieleWapimgurl,jdbcType=VARCHAR},
      coupondesctiele_pcstatus = #{coupondesctielePcstatus,jdbcType=INTEGER},
      coupondesctiele_pcimgurl = #{coupondesctielePcimgurl,jdbcType=VARCHAR},
      coupondesctiele_createTime = #{coupondesctieleCreatetime,jdbcType=VARCHAR},
      coupondesctiele_motifyTime = #{coupondesctieleMotifytime,jdbcType=VARCHAR}
    where coupondesctiele_id = #{coupondesctieleId,jdbcType=INTEGER}
  </update>
  
  
  <!-- insertSelective -->
  <insert id="insertSelective" parameterType="com.atguigu.bean.MlbackCouponDescTitle">
    insert into tb_mlback_coupondesctitle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coupondesctieleId != null">
        coupondesctiele_id,
      </if>
      <if test="coupondesctieleName != null">
        coupondesctiele_name,
      </if>
      <if test="coupondesctieleTieledetail != null">
        coupondesctiele_tieleDetail,
      </if>
      <if test="coupondesctieleWapstatus != null">
        coupondesctiele_wapstatus,
      </if>
      <if test="coupondesctieleWapimgurl != null">
        coupondesctiele_wapimgurl,
      </if>
      <if test="coupondesctielePcstatus != null">
        coupondesctiele_pcstatus,
      </if>
      <if test="coupondesctielePcimgurl != null">
        coupondesctiele_pcimgurl,
      </if>
      <if test="coupondesctieleCreatetime != null">
        coupondesctiele_createTime,
      </if>
      <if test="coupondesctieleMotifytime != null">
        coupondesctiele_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coupondesctieleId != null">
        #{coupondesctieleId,jdbcType=INTEGER},
      </if>
      <if test="coupondesctieleName != null">
        #{coupondesctieleName,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleTieledetail != null">
        #{coupondesctieleTieledetail,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleWapstatus != null">
        #{coupondesctieleWapstatus,jdbcType=INTEGER},
      </if>
      <if test="coupondesctieleWapimgurl != null">
        #{coupondesctieleWapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctielePcstatus != null">
        #{coupondesctielePcstatus,jdbcType=INTEGER},
      </if>
      <if test="coupondesctielePcimgurl != null">
        #{coupondesctielePcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleCreatetime != null">
        #{coupondesctieleCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleMotifytime != null">
        #{coupondesctieleMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlback_coupondesctitle
    where coupondesctiele_id = #{coupondesctieleId,jdbcType=INTEGER}
  </delete>
  
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlbackCouponDescTitle">
    update tb_mlback_coupondesctitle
    <set>
      <if test="coupondesctieleName != null">
        coupondesctiele_name = #{coupondesctieleName,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleTieledetail != null">
        coupondesctiele_tieleDetail = #{coupondesctieleTieledetail,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleWapstatus != null">
        coupondesctiele_wapstatus = #{coupondesctieleWapstatus,jdbcType=INTEGER},
      </if>
      <if test="coupondesctieleWapimgurl != null">
        coupondesctiele_wapimgurl = #{coupondesctieleWapimgurl,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctielePcstatus != null">
        coupondesctiele_pcstatus = #{coupondesctielePcstatus,jdbcType=INTEGER},
      </if>
      <if test="coupondesctielePcimgurl != null">
        coupondesctiele_pcimgurl = #{coupondesctielePcimgurl,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleCreatetime != null">
        coupondesctiele_createTime = #{coupondesctieleCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="coupondesctieleMotifytime != null">
        coupondesctiele_motifyTime = #{coupondesctieleMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where coupondesctiele_id = #{coupondesctieleId,jdbcType=INTEGER}
  </update>
  
  <!-- selectMlbackCouponDescTitleById -->
  <select id="selectMlbackCouponDescTitleById" parameterType="com.atguigu.bean.MlbackSlide" resultMap="BaseResultMap">
    select *
    from tb_mlback_coupondesctitle 
    where coupondesctiele_id = #{coupondesctieleId,jdbcType=INTEGER}
  </select>
  
  <!-- selectMlbackCouponDescTitleGetAll -->
  <select id="selectMlbackCouponDescTitleGetAll" parameterType="com.atguigu.bean.MlbackCouponDescTitle" resultMap="BaseResultMap">
    select *
    from tb_mlback_coupondesctitle order by coupondesctiele_id desc
  </select>
  
  <!-- selectMlbackSlidewapListByArea -->
  <select id="selectMlbackCouponDescTitlewapListByArea" parameterType="com.atguigu.bean.MlbackCouponDescTitle" resultMap="BaseResultMap">
    select *
    from tb_mlback_coupondesctitle where coupondesctiele_wapstatus = #{coupondesctieleWapstatus,jdbcType=INTEGER}
  </select>
  
  <select id="selectMlbackCouponDescTitlepcListByArea" parameterType="com.atguigu.bean.MlbackCouponDescTitle" resultMap="BaseResultMap">
    select *
    from tb_mlback_coupondesctitle where coupondesctiele_pcstatus = #{coupondesctielePcstatus,jdbcType=INTEGER}
  </select>
  
  
</mapper>