<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlfrontReviewMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlfrontReview">
    <id column="review_id" jdbcType="INTEGER" property="reviewId" />
    <result column="review_uid" jdbcType="INTEGER" property="reviewUid" />
    <result column="review_uname" jdbcType="VARCHAR" property="reviewUname" />
    <result column="review_pid" jdbcType="INTEGER" property="reviewPid" />
    <result column="review_pname" jdbcType="VARCHAR" property="reviewPname" />
    <result column="review_detail" jdbcType="VARCHAR" property="reviewDetail" />
    <result column="review_status" jdbcType="INTEGER" property="reviewStatus" />
    <result column="review_imgIdStr" jdbcType="VARCHAR" property="reviewImgidstr" />
    <result column="review_proStarNum" jdbcType="INTEGER" property="reviewProstarnum" />
    <result column="review_serviceStarNum" jdbcType="INTEGER" property="reviewServicestarnum" />
    <result column="review_logisticsStarNum" jdbcType="INTEGER" property="reviewLogisticsstarnum" />
    <result column="review_createTime" jdbcType="VARCHAR" property="reviewCreatetime" />
    <result column="review_motifyTime" jdbcType="VARCHAR" property="reviewMotifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    review_id, review_uid, review_uname, review_pid, review_pname, review_detail, review_status, 
    review_imgIdStr, review_proStarNum, review_serviceStarNum, review_logisticsStarNum, 
    review_createTime, review_motifyTime
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlfrontReviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlfront_review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlfrontReviewExample">
    delete from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlfrontReview">
    insert into tb_mlfront_review (review_id, review_uid, review_uname, 
      review_pid, review_pname, review_detail, 
      review_status, review_imgIdStr, review_proStarNum, 
      review_serviceStarNum, review_logisticsStarNum, 
      review_createTime, review_motifyTime)
    values (#{reviewId,jdbcType=INTEGER}, #{reviewUid,jdbcType=INTEGER}, #{reviewUname,jdbcType=VARCHAR}, 
      #{reviewPid,jdbcType=INTEGER}, #{reviewPname,jdbcType=VARCHAR}, #{reviewDetail,jdbcType=VARCHAR}, 
      #{reviewStatus,jdbcType=INTEGER}, #{reviewImgidstr,jdbcType=VARCHAR}, #{reviewProstarnum,jdbcType=INTEGER}, 
      #{reviewServicestarnum,jdbcType=INTEGER}, #{reviewLogisticsstarnum,jdbcType=INTEGER}, 
      #{reviewCreatetime,jdbcType=VARCHAR}, #{reviewMotifytime,jdbcType=VARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlfrontReviewExample" resultType="java.lang.Long">
    select count(*) from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlfront_review
    <set>
      <if test="record.reviewId != null">
        review_id = #{record.reviewId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewUid != null">
        review_uid = #{record.reviewUid,jdbcType=INTEGER},
      </if>
      <if test="record.reviewUname != null">
        review_uname = #{record.reviewUname,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewPid != null">
        review_pid = #{record.reviewPid,jdbcType=INTEGER},
      </if>
      <if test="record.reviewPname != null">
        review_pname = #{record.reviewPname,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewDetail != null">
        review_detail = #{record.reviewDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewStatus != null">
        review_status = #{record.reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="record.reviewImgidstr != null">
        review_imgIdStr = #{record.reviewImgidstr,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewProstarnum != null">
        review_proStarNum = #{record.reviewProstarnum,jdbcType=INTEGER},
      </if>
      <if test="record.reviewServicestarnum != null">
        review_serviceStarNum = #{record.reviewServicestarnum,jdbcType=INTEGER},
      </if>
      <if test="record.reviewLogisticsstarnum != null">
        review_logisticsStarNum = #{record.reviewLogisticsstarnum,jdbcType=INTEGER},
      </if>
      <if test="record.reviewCreatetime != null">
        review_createTime = #{record.reviewCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewMotifytime != null">
        review_motifyTime = #{record.reviewMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlfront_review
    set review_id = #{record.reviewId,jdbcType=INTEGER},
      review_uid = #{record.reviewUid,jdbcType=INTEGER},
      review_uname = #{record.reviewUname,jdbcType=VARCHAR},
      review_pid = #{record.reviewPid,jdbcType=INTEGER},
      review_pname = #{record.reviewPname,jdbcType=VARCHAR},
      review_detail = #{record.reviewDetail,jdbcType=VARCHAR},
      review_status = #{record.reviewStatus,jdbcType=INTEGER},
      review_imgIdStr = #{record.reviewImgidstr,jdbcType=VARCHAR},
      review_proStarNum = #{record.reviewProstarnum,jdbcType=INTEGER},
      review_serviceStarNum = #{record.reviewServicestarnum,jdbcType=INTEGER},
      review_logisticsStarNum = #{record.reviewLogisticsstarnum,jdbcType=INTEGER},
      review_createTime = #{record.reviewCreatetime,jdbcType=VARCHAR},
      review_motifyTime = #{record.reviewMotifytime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlfrontReview">
    update tb_mlfront_review
    set review_uid = #{reviewUid,jdbcType=INTEGER},
      review_uname = #{reviewUname,jdbcType=VARCHAR},
      review_pid = #{reviewPid,jdbcType=INTEGER},
      review_pname = #{reviewPname,jdbcType=VARCHAR},
      review_detail = #{reviewDetail,jdbcType=VARCHAR},
      review_status = #{reviewStatus,jdbcType=INTEGER},
      review_imgIdStr = #{reviewImgidstr,jdbcType=VARCHAR},
      review_proStarNum = #{reviewProstarnum,jdbcType=INTEGER},
      review_serviceStarNum = #{reviewServicestarnum,jdbcType=INTEGER},
      review_logisticsStarNum = #{reviewLogisticsstarnum,jdbcType=INTEGER},
      review_createTime = #{reviewCreatetime,jdbcType=VARCHAR},
      review_motifyTime = #{reviewMotifytime,jdbcType=VARCHAR}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  
  	<!-- insertSelective -->
  	<insert id="insertSelective" parameterType="com.atguigu.bean.MlfrontReview">
	    insert into tb_mlfront_review
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="reviewId != null">
	        review_id,
	      </if>
	      <if test="reviewUid != null">
	        review_uid,
	      </if>
	      <if test="reviewUname != null">
	        review_uname,
	      </if>
	      <if test="reviewPid != null">
	        review_pid,
	      </if>
	      <if test="reviewPname != null">
	        review_pname,
	      </if>
	      <if test="reviewDetail != null">
	        review_detail,
	      </if>
	      <if test="reviewStatus != null">
	        review_status,
	      </if>
	      <if test="reviewImgidstr != null">
	        review_imgIdStr,
	      </if>
	      <if test="reviewProstarnum != null">
	        review_proStarNum,
	      </if>
	      <if test="reviewServicestarnum != null">
	        review_serviceStarNum,
	      </if>
	      <if test="reviewLogisticsstarnum != null">
	        review_logisticsStarNum,
	      </if>
	      <if test="reviewCreatetime != null">
	        review_createTime,
	      </if>
	      <if test="reviewMotifytime != null">
	        review_motifyTime,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="reviewId != null">
	        #{reviewId,jdbcType=INTEGER},
	      </if>
	      <if test="reviewUid != null">
	        #{reviewUid,jdbcType=INTEGER},
	      </if>
	      <if test="reviewUname != null">
	        #{reviewUname,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewPid != null">
	        #{reviewPid,jdbcType=INTEGER},
	      </if>
	      <if test="reviewPname != null">
	        #{reviewPname,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewDetail != null">
	        #{reviewDetail,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewStatus != null">
	        #{reviewStatus,jdbcType=INTEGER},
	      </if>
	      <if test="reviewImgidstr != null">
	        #{reviewImgidstr,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewProstarnum != null">
	        #{reviewProstarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewServicestarnum != null">
	        #{reviewServicestarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewLogisticsstarnum != null">
	        #{reviewLogisticsstarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewCreatetime != null">
	        #{reviewCreatetime,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewMotifytime != null">
	        #{reviewMotifytime,jdbcType=VARCHAR},
	      </if>
	    </trim>
	  </insert>
   	<!-- 删除本条deleteByPrimaryKey -->
   	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from tb_mlfront_review
	    where review_id = #{reviewId,jdbcType=INTEGER}
  	</delete>
  	<!-- 更新本条updateByPrimaryKeySelective -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlfrontReview">
	    update tb_mlfront_review
	    <set>
	      <if test="reviewUid != null">
	        review_uid = #{reviewUid,jdbcType=INTEGER},
	      </if>
	      <if test="reviewUname != null">
	        review_uname = #{reviewUname,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewPid != null">
	        review_pid = #{reviewPid,jdbcType=INTEGER},
	      </if>
	      <if test="reviewPname != null">
	        review_pname = #{reviewPname,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewDetail != null">
	        review_detail = #{reviewDetail,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewStatus != null">
	        review_status = #{reviewStatus,jdbcType=INTEGER},
	      </if>
	      <if test="reviewImgidstr != null">
	        review_imgIdStr = #{reviewImgidstr,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewProstarnum != null">
	        review_proStarNum = #{reviewProstarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewServicestarnum != null">
	        review_serviceStarNum = #{reviewServicestarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewLogisticsstarnum != null">
	        review_logisticsStarNum = #{reviewLogisticsstarnum,jdbcType=INTEGER},
	      </if>
	      <if test="reviewCreatetime != null">
	        review_createTime = #{reviewCreatetime,jdbcType=VARCHAR},
	      </if>
	      <if test="reviewMotifytime != null">
	        review_motifyTime = #{reviewMotifytime,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where review_id = #{reviewId,jdbcType=INTEGER}
	  </update>
	<!-- selectMlfrontReviewById -->
    <select id="selectMlfrontReviewById" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
	    select *
	    from tb_mlfront_review 
	    where review_id = #{reviewId,jdbcType=INTEGER}
	 </select>
	<!-- selectAll使用中 -->
	<select id="selectMlfrontReviewGetAll" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
	   select *
	   from tb_mlfront_review order by review_id desc
	</select>
  
</mapper>