<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlfrontReviewMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlfrontReview">
    <id column="review_id" jdbcType="INTEGER" property="reviewId" />
    <result column="review_uid" jdbcType="INTEGER" property="reviewUid" />
    <result column="review_uname" jdbcType="VARCHAR" property="reviewUname" />
    <result column="review_uimgUrl" jdbcType="VARCHAR" property="reviewUimgurl" />
    <result column="review_pid" jdbcType="INTEGER" property="reviewPid" />
    <result column="review_pname" jdbcType="VARCHAR" property="reviewPname" />
    <result column="review_createTime" jdbcType="VARCHAR" property="reviewCreatetime" />
    <result column="review_motifyTime" jdbcType="VARCHAR" property="reviewMotifytime" />
    <result column="review_confirmTime" jdbcType="VARCHAR" property="reviewConfirmtime" />
    <result column="review_startTime" jdbcType="VARCHAR" property="reviewStarttime" />
    <result column="review_endTime" jdbcType="VARCHAR" property="reviewEndtime" />
    <result column="review_status" jdbcType="INTEGER" property="reviewStatus" />
    <result column="review_detailStr" jdbcType="VARCHAR" property="reviewDetailstr" />
    <result column="review_imgIdStr" jdbcType="VARCHAR" property="reviewImgidstr" />
    <result column="review_proStarNum" jdbcType="INTEGER" property="reviewProstarnum" />
    <result column="review_from" jdbcType="INTEGER" property="reviewFrom" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    review_id, review_uid, review_uname, review_uimgUrl, review_pid, review_pname, review_createTime, 
    review_motifyTime, review_confirmTime, review_startTime, review_endTime, review_status, review_detailStr, review_imgIdStr, 
    review_proStarNum, review_from
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlfrontReviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlfront_review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlfrontReviewExample">
    delete from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlfrontReview">
    insert into tb_mlfront_review (review_id, review_uid, review_uname, 
      review_uimgUrl, review_pid, review_pname, 
      review_createTime, review_motifyTime, review_confirmTime, review_startTime, review_endTime, 
      review_status, review_detailStr, review_imgIdStr, 
      review_proStarNum, review_from)
    values (#{reviewId,jdbcType=INTEGER}, #{reviewUid,jdbcType=INTEGER}, #{reviewUname,jdbcType=VARCHAR}, 
      #{reviewUimgurl,jdbcType=VARCHAR}, #{reviewPid,jdbcType=INTEGER}, #{reviewPname,jdbcType=VARCHAR}, 
      #{reviewCreatetime,jdbcType=VARCHAR}, #{reviewMotifytime,jdbcType=VARCHAR}, #{reviewConfirmtime,jdbcType=VARCHAR}, #{reviewStarttime,jdbcType=VARCHAR}, #{reviewEndtime,jdbcType=VARCHAR}, 
      #{reviewStatus,jdbcType=INTEGER}, #{reviewDetailstr,jdbcType=VARCHAR}, #{reviewImgidstr,jdbcType=VARCHAR}, 
      #{reviewProstarnum,jdbcType=INTEGER}, #{reviewFrom,jdbcType=INTEGER})
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlfrontReviewExample" resultType="java.lang.Long">
    select count(*) from tb_mlfront_review
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlfront_review
    <set>
      <if test="record.reviewId != null">
        review_id = #{record.reviewId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewUid != null">
        review_uid = #{record.reviewUid,jdbcType=INTEGER},
      </if>
      <if test="record.reviewUname != null">
        review_uname = #{record.reviewUname,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewUimgurl != null">
        review_uimgUrl = #{record.reviewUimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewPid != null">
        review_pid = #{record.reviewPid,jdbcType=INTEGER},
      </if>
      <if test="record.reviewPname != null">
        review_pname = #{record.reviewPname,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewCreatetime != null">
        review_createTime = #{record.reviewCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewMotifytime != null">
        review_motifyTime = #{record.reviewMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewConfirmtime != null">
        review_confirmTime = #{record.reviewConfirmtime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewStarttime != null">
        review_startTime = #{record.reviewStarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewEndtime != null">
        review_endTime = #{record.reviewEndtime,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewStatus != null">
        review_status = #{record.reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="record.reviewDetailstr != null">
        review_detailStr = #{record.reviewDetailstr,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewImgidstr != null">
        review_imgIdStr = #{record.reviewImgidstr,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewProstarnum != null">
        review_proStarNum = #{record.reviewProstarnum,jdbcType=INTEGER},
      </if>
      <if test="record.reviewFrom != null">
        review_from = #{record.reviewFrom,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlfront_review
    set review_id = #{record.reviewId,jdbcType=INTEGER},
      review_uid = #{record.reviewUid,jdbcType=INTEGER},
      review_uname = #{record.reviewUname,jdbcType=VARCHAR},
      review_uimgUrl = #{record.reviewUimgurl,jdbcType=VARCHAR},
      review_pid = #{record.reviewPid,jdbcType=INTEGER},
      review_pname = #{record.reviewPname,jdbcType=VARCHAR},
      review_createTime = #{record.reviewCreatetime,jdbcType=VARCHAR},
      review_motifyTime = #{record.reviewMotifytime,jdbcType=VARCHAR},
      review_confirmTime = #{record.reviewConfirmtime,jdbcType=VARCHAR},
      review_startTime = #{record.reviewStarttime,jdbcType=VARCHAR},
      review_endTime = #{record.reviewEndtime,jdbcType=VARCHAR},
      review_status = #{record.reviewStatus,jdbcType=INTEGER},
      review_detailStr = #{record.reviewDetailstr,jdbcType=VARCHAR},
      review_imgIdStr = #{record.reviewImgidstr,jdbcType=VARCHAR},
      review_proStarNum = #{record.reviewProstarnum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlfrontReview">
    update tb_mlfront_review
    set review_uid = #{reviewUid,jdbcType=INTEGER},
      review_uname = #{reviewUname,jdbcType=VARCHAR},
      review_uimgUrl = #{reviewUimgurl,jdbcType=VARCHAR},
      review_pid = #{reviewPid,jdbcType=INTEGER},
      review_pname = #{reviewPname,jdbcType=VARCHAR},
      review_createTime = #{reviewCreatetime,jdbcType=VARCHAR},
      review_motifyTime = #{reviewMotifytime,jdbcType=VARCHAR},
      review_confirmTime = #{reviewConfirmtime,jdbcType=VARCHAR},
      review_startTime = #{reviewStarttime,jdbcType=VARCHAR},
      review_endTime = #{reviewEndtime,jdbcType=VARCHAR},
      review_status = #{reviewStatus,jdbcType=INTEGER},
      review_detailStr = #{reviewDetailstr,jdbcType=VARCHAR},
      review_imgIdStr = #{reviewImgidstr,jdbcType=VARCHAR},
      review_proStarNum = #{reviewProstarnum,jdbcType=INTEGER},
      review_from = #{reviewFrom,jdbcType=INTEGER}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  
  <!-- insertSelective -->
  <insert id="insertSelective" parameterType="com.atguigu.bean.MlfrontReview">
    insert into tb_mlfront_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reviewId != null">
        review_id,
      </if>
      <if test="reviewUid != null">
        review_uid,
      </if>
      <if test="reviewUname != null">
        review_uname,
      </if>
      <if test="reviewUimgurl != null">
        review_uimgUrl,
      </if>
      <if test="reviewPid != null">
        review_pid,
      </if>
      <if test="reviewPname != null">
        review_pname,
      </if>
      <if test="reviewCreatetime != null">
        review_createTime,
      </if>
      <if test="reviewMotifytime != null">
        review_motifyTime,
      </if>
      <if test="reviewConfirmtime != null">
        review_confirmTime,
      </if>
      <if test="reviewStarttime != null">
        review_startTime,
      </if>
      <if test="reviewEndtime != null">
        review_endTime,
      </if>
      <if test="reviewStatus != null">
        review_status,
      </if>
      <if test="reviewDetailstr != null">
        review_detailStr,
      </if>
      <if test="reviewImgidstr != null">
        review_imgIdStr,
      </if>
      <if test="reviewProstarnum != null">
        review_proStarNum,
      </if>
      <if test="reviewFrom != null">
        review_from,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reviewId != null">
        #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="reviewUid != null">
        #{reviewUid,jdbcType=INTEGER},
      </if>
      <if test="reviewUname != null">
        #{reviewUname,jdbcType=VARCHAR},
      </if>
      <if test="reviewUimgurl != null">
        #{reviewUimgurl,jdbcType=VARCHAR},
      </if>
      <if test="reviewPid != null">
        #{reviewPid,jdbcType=INTEGER},
      </if>
      <if test="reviewPname != null">
        #{reviewPname,jdbcType=VARCHAR},
      </if>
      <if test="reviewCreatetime != null">
        #{reviewCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="reviewMotifytime != null">
        #{reviewMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="reviewConfirmtime != null">
        #{reviewConfirmtime,jdbcType=VARCHAR},
      </if>
      <if test="reviewStarttime != null">
        #{reviewStarttime,jdbcType=VARCHAR},
      </if>
      <if test="reviewEndtime != null">
        #{reviewEndtime,jdbcType=VARCHAR},
      </if> 
      <if test="reviewStatus != null">
        #{reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="reviewDetailstr != null">
        #{reviewDetailstr,jdbcType=VARCHAR},
      </if>
      <if test="reviewImgidstr != null">
        #{reviewImgidstr,jdbcType=VARCHAR},
      </if>
      <if test="reviewProstarnum != null">
        #{reviewProstarnum,jdbcType=INTEGER},
      </if>
      <if test="reviewFrom != null">
		#{reviewFrom,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- deleteByPrimaryKey -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlfront_review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </delete>
  <!-- updateByPrimaryKeySelective -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlfrontReview">
    update tb_mlfront_review
    <set>
      <if test="reviewUid != null">
        review_uid = #{reviewUid,jdbcType=INTEGER},
      </if>
      <if test="reviewUname != null">
        review_uname = #{reviewUname,jdbcType=VARCHAR},
      </if>
      <if test="reviewUimgurl != null">
        review_uimgUrl = #{reviewUimgurl,jdbcType=VARCHAR},
      </if>
      <if test="reviewPid != null">
        review_pid = #{reviewPid,jdbcType=INTEGER},
      </if>
      <if test="reviewPname != null">
        review_pname = #{reviewPname,jdbcType=VARCHAR},
      </if>
      <if test="reviewCreatetime != null">
        review_createTime = #{reviewCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="reviewMotifytime != null">
        review_motifyTime = #{reviewMotifytime,jdbcType=VARCHAR},
      </if>
      <if test="reviewConfirmtime != null">
        review_confirmTime = #{reviewConfirmtime,jdbcType=VARCHAR},
      </if>
      <if test="reviewStarttime != null">
        review_startTime = #{reviewStarttime,jdbcType=VARCHAR},
      </if>
      <if test="reviewEndtime != null">
        review_endTime = #{reviewEndtime,jdbcType=VARCHAR},
      </if> 
      <if test="reviewStatus != null">
        review_status = #{reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="reviewDetailstr != null">
        review_detailStr = #{reviewDetailstr,jdbcType=VARCHAR},
      </if>
      <if test="reviewImgidstr != null">
        review_imgIdStr = #{reviewImgidstr,jdbcType=VARCHAR},
      </if>
      <if test="reviewProstarnum != null">
        review_proStarNum = #{reviewProstarnum,jdbcType=INTEGER},
      </if>
      <if test="reviewFrom != null">
		review_from = #{reviewFrom,jdbcType=INTEGER},
      </if>
    </set>
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <!-- selectMlfrontReviewById -->
  <select id="selectMlfrontReviewById" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
    select *
    from tb_mlfront_review 
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  <!-- selectMlfrontReviewGetAll -->
  <select id="selectMlfrontReviewGetAll" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
    select *
    from tb_mlfront_review order by review_pid desc,review_createTime desc,review_id desc
  </select>
  <!-- selectMlfrontReviewListByPId -->
  <select id="selectMlfrontReviewListByPId" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
    select *
    from tb_mlfront_review where review_pid = #{reviewPid,jdbcType=INTEGER} and review_status = #{reviewStatus,jdbcType=INTEGER} order by review_createTime desc
  </select>
  
  <!-- selectMlfrontReviewListBySearch使用中 -->
  <select id="selectMlfrontReviewListBySearch" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
  	select * from tb_mlfront_review where
   	review_createTime between #{reviewStarttime,jdbcType=VARCHAR} and #{reviewEndtime,jdbcType=VARCHAR} 
   	<if test="reviewPid != null">
      and review_pid = #{reviewPid,jdbcType=INTEGER}
    </if>
    <if test="reviewStatus != null">
      and review_status = #{reviewStatus,jdbcType=INTEGER}
    </if>
    <if test="reviewProstarnum != null">
      and review_proStarNum = #{reviewProstarnum,jdbcType=INTEGER}
    </if>
    order by review_id desc
  </select>
  
  <!-- selectReviewListFrom使用中 -->
  <select id="selectReviewListFrom" parameterType="com.atguigu.bean.MlfrontReview" resultMap="BaseResultMap">
  	select * from tb_mlfront_review where review_status = #{reviewStatus,jdbcType=INTEGER} and review_from = #{reviewFrom,jdbcType=INTEGER}
</mapper>