<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MlfrontOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.bean.MlfrontOrderItem">
    <id column="orderItem_id" jdbcType="INTEGER" property="orderitemId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_uid" jdbcType="INTEGER" property="orderUid" />
    <result column="order_cartItemId" jdbcType="INTEGER" property="orderCartItemId" />
    <result column="orderItem_pid" jdbcType="INTEGER" property="orderitemPid" />
    <result column="orderItem_pName" jdbcType="VARCHAR" property="orderitemPname" />
    <result column="orderItem_product_originalPrice" jdbcType="DECIMAL" property="orderitemProductOriginalprice" />
    <result column="orderItem_product_mainimgURL" jdbcType="VARCHAR" property="orderitemProductMainimgurl" />
    <result column="orderItem_product_accoff" jdbcType="INTEGER" property="orderitemProductAccoff" />
    <result column="orderItem_pSku_idStr" jdbcType="VARCHAR" property="orderitemPskuIdstr" />
    <result column="orderItem_pSku_idnameStr" jdbcType="VARCHAR" property="orderitemPskuIdnamestr" />
    <result column="orderItem_pSku_nameStr" jdbcType="VARCHAR" property="orderitemPskuNamestr" />
    <result column="orderItem_pSku_moneyStr" jdbcType="VARCHAR" property="orderitemPskuMoneystr" />
    <result column="orderItem_pSku_number" jdbcType="INTEGER" property="orderitemPskuNumber" />
    <result column="orderItem_pSku_reaMoney" jdbcType="VARCHAR" property="orderitemPskuReamoney" />
    <result column="orderItem_createTime" jdbcType="VARCHAR" property="orderitemCreatetime" />
    <result column="orderItem_motifyTime" jdbcType="VARCHAR" property="orderitemMotifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderItem_id, order_id, order_uid, order_cartItemId, orderItem_pid, orderItem_pName, orderItem_product_originalPrice, 
    orderItem_product_mainimgURL, orderItem_product_accoff, orderItem_pSku_idStr, orderItem_pSku_idnameStr, 
    orderItem_pSku_nameStr, orderItem_pSku_moneyStr, orderItem_pSku_number, orderItem_pSku_reaMoney, 
    orderItem_createTime, orderItem_motifyTime
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.bean.MlfrontOrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mlfront_orderitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mlfront_orderitem
    where orderItem_id = #{orderitemId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByExample" parameterType="com.atguigu.bean.MlfrontOrderItemExample">
    delete from tb_mlfront_orderitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.MlfrontOrderItem">
    insert into tb_mlfront_orderitem (orderItem_id, order_id, order_uid, order_cartItemId,
      orderItem_pid, orderItem_pName, orderItem_product_originalPrice, 
      orderItem_product_mainimgURL, orderItem_product_accoff, 
      orderItem_pSku_idStr, orderItem_pSku_idnameStr, 
      orderItem_pSku_nameStr, orderItem_pSku_moneyStr, 
      orderItem_pSku_number, orderItem_pSku_reaMoney, 
      orderItem_createTime, orderItem_motifyTime
      )
    values (#{orderitemId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderUid,jdbcType=INTEGER}, #{orderCartItemId,jdbcType=INTEGER},
      #{orderitemPid,jdbcType=INTEGER}, #{orderitemPname,jdbcType=VARCHAR}, #{orderitemProductOriginalprice,jdbcType=DECIMAL}, 
      #{orderitemProductMainimgurl,jdbcType=VARCHAR}, #{orderitemProductAccoff,jdbcType=INTEGER}, 
      #{orderitemPskuIdstr,jdbcType=VARCHAR}, #{orderitemPskuIdnamestr,jdbcType=VARCHAR}, 
      #{orderitemPskuNamestr,jdbcType=VARCHAR}, #{orderitemPskuMoneystr,jdbcType=VARCHAR}, 
      #{orderitemPskuNumber,jdbcType=INTEGER}, #{orderitemPskuReamoney,jdbcType=DECIMAL}, 
      #{orderitemCreatetime,jdbcType=VARCHAR}, #{orderitemMotifytime,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="countByExample" parameterType="com.atguigu.bean.MlfrontOrderItemExample" resultType="java.lang.Long">
    select count(*) from tb_mlfront_orderitem
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mlfront_orderitem
    <set>
      <if test="record.orderitemId != null">
        orderItem_id = #{record.orderitemId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderUid != null">
        order_uid = #{record.orderUid,jdbcType=INTEGER},
      </if>
      <if test="record.orderCartItemId != null">
        order_cartItemId = #{record.orderCartItemId,jdbcType=INTEGER},
      </if>
      <if test="record.orderitemPid != null">
        orderItem_pid = #{record.orderitemPid,jdbcType=INTEGER},
      </if>
      <if test="record.orderitemPname != null">
        orderItem_pName = #{record.orderitemPname,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemProductOriginalprice != null">
        orderItem_product_originalPrice = #{record.orderitemProductOriginalprice,jdbcType=DECIMAL},
      </if>
      <if test="record.orderitemProductMainimgurl != null">
        orderItem_product_mainimgURL = #{record.orderitemProductMainimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemProductAccoff != null">
        orderItem_product_accoff = #{record.orderitemProductAccoff,jdbcType=INTEGER},
      </if>
      <if test="record.orderitemPskuIdstr != null">
        orderItem_pSku_idStr = #{record.orderitemPskuIdstr,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemPskuIdnamestr != null">
        orderItem_pSku_idnameStr = #{record.orderitemPskuIdnamestr,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemPskuNamestr != null">
        orderItem_pSku_nameStr = #{record.orderitemPskuNamestr,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemPskuMoneystr != null">
        orderItem_pSku_moneyStr = #{record.orderitemPskuMoneystr,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemPskuNumber != null">
        orderItem_pSku_number = #{record.orderitemPskuNumber,jdbcType=INTEGER},
      </if>
      <if test="record.orderitemPskuReamoney != null">
        orderItem_pSku_reaMoney = #{record.orderitemPskuReamoney,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemCreatetime != null">
        orderItem_createTime = #{record.orderitemCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.orderitemMotifytime != null">
        orderItem_motifyTime = #{record.orderitemMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mlfront_orderitem
    set orderItem_id = #{record.orderitemId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      order_uid = #{record.orderUid,jdbcType=INTEGER},
      order_cartItemId = #{record.orderCartItemId,jdbcType=INTEGER},
      orderItem_pid = #{record.orderitemPid,jdbcType=INTEGER},
      orderItem_pName = #{record.orderitemPname,jdbcType=VARCHAR},
      orderItem_product_originalPrice = #{record.orderitemProductOriginalprice,jdbcType=DECIMAL},
      orderItem_product_mainimgURL = #{record.orderitemProductMainimgurl,jdbcType=VARCHAR},
      orderItem_product_accoff = #{record.orderitemProductAccoff,jdbcType=INTEGER},
      orderItem_pSku_idStr = #{record.orderitemPskuIdstr,jdbcType=VARCHAR},
      orderItem_pSku_idnameStr = #{record.orderitemPskuIdnamestr,jdbcType=VARCHAR},
      orderItem_pSku_nameStr = #{record.orderitemPskuNamestr,jdbcType=VARCHAR},
      orderItem_pSku_moneyStr = #{record.orderitemPskuMoneystr,jdbcType=VARCHAR},
      orderItem_pSku_number = #{record.orderitemPskuNumber,jdbcType=INTEGER},
      orderItem_pSku_reaMoney = #{record.orderitemPskuReamoney,jdbcType=DECIMAL},
      orderItem_createTime = #{record.orderitemCreatetime,jdbcType=VARCHAR},
      orderItem_motifyTime = #{record.orderitemMotifytime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.atguigu.bean.MlfrontOrderItem">
    update tb_mlfront_orderitem
    set order_id = #{orderId,jdbcType=INTEGER},
      order_uid = #{orderUid,jdbcType=INTEGER},
      order_cartItemId = #{orderCartItemId,jdbcType=INTEGER},
      orderItem_pid = #{orderitemPid,jdbcType=INTEGER},
      orderItem_pName = #{orderitemPname,jdbcType=VARCHAR},
      orderItem_product_originalPrice = #{orderitemProductOriginalprice,jdbcType=DECIMAL},
      orderItem_product_mainimgURL = #{orderitemProductMainimgurl,jdbcType=VARCHAR},
      orderItem_product_accoff = #{orderitemProductAccoff,jdbcType=INTEGER},
      orderItem_pSku_idStr = #{orderitemPskuIdstr,jdbcType=VARCHAR},
      orderItem_pSku_idnameStr = #{orderitemPskuIdnamestr,jdbcType=VARCHAR},
      orderItem_pSku_nameStr = #{orderitemPskuNamestr,jdbcType=VARCHAR},
      orderItem_pSku_moneyStr = #{orderitemPskuMoneystr,jdbcType=VARCHAR},
      orderItem_pSku_number = #{orderitemPskuNumber,jdbcType=INTEGER},
      orderItem_pSku_reaMoney = #{orderitemPskuReamoney,jdbcType=DECIMAL},
      orderItem_createTime = #{orderitemCreatetime,jdbcType=VARCHAR},
      orderItem_motifyTime = #{orderitemMotifytime,jdbcType=VARCHAR}
    where orderItem_id = #{orderitemId,jdbcType=INTEGER}
  </update>
  
  
  <!-- insert -->
  <insert id="insertSelective" parameterType="com.atguigu.bean.MlfrontOrderItem">
    insert into tb_mlfront_orderitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderitemId != null">
        orderItem_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderUid != null">
        order_uid,
      </if>
      <if test="orderCartItemId != null">
        order_cartItemId,
      </if>
      <if test="orderitemPid != null">
        orderItem_pid,
      </if>
      <if test="orderitemPname != null">
        orderItem_pName,
      </if>
      <if test="orderitemProductOriginalprice != null">
        orderItem_product_originalPrice,
      </if>
      <if test="orderitemProductMainimgurl != null">
        orderItem_product_mainimgURL,
      </if>
      <if test="orderitemProductAccoff != null">
        orderItem_product_accoff,
      </if>
      <if test="orderitemPskuIdstr != null">
        orderItem_pSku_idStr,
      </if>
      <if test="orderitemPskuIdnamestr != null">
        orderItem_pSku_idnameStr,
      </if>
      <if test="orderitemPskuNamestr != null">
        orderItem_pSku_nameStr,
      </if>
      <if test="orderitemPskuMoneystr != null">
        orderItem_pSku_moneyStr,
      </if>
      <if test="orderitemPskuNumber != null">
        orderItem_pSku_number,
      </if>
      <if test="orderitemPskuReamoney != null">
        orderItem_pSku_reaMoney,
      </if>
      <if test="orderitemCreatetime != null">
        orderItem_createTime,
      </if>
      <if test="orderitemMotifytime != null">
        orderItem_motifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderitemId != null">
        #{orderitemId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderUid != null">
        #{orderUid,jdbcType=INTEGER},
      </if>
      <if test="orderCartItemId != null">
        #{orderCartItemId,jdbcType=INTEGER},
      </if>
      <if test="orderitemPid != null">
        #{orderitemPid,jdbcType=INTEGER},
      </if>
      <if test="orderitemPname != null">
        #{orderitemPname,jdbcType=VARCHAR},
      </if>
      <if test="orderitemProductOriginalprice != null">
        #{orderitemProductOriginalprice,jdbcType=DECIMAL},
      </if>
      <if test="orderitemProductMainimgurl != null">
        #{orderitemProductMainimgurl,jdbcType=VARCHAR},
      </if>
      <if test="orderitemProductAccoff != null">
        #{orderitemProductAccoff,jdbcType=INTEGER},
      </if>
      <if test="orderitemPskuIdstr != null">
        #{orderitemPskuIdstr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuIdnamestr != null">
        #{orderitemPskuIdnamestr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuNamestr != null">
        #{orderitemPskuNamestr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuMoneystr != null">
        #{orderitemPskuMoneystr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuNumber != null">
        #{orderitemPskuNumber,jdbcType=INTEGER},
      </if>
      <if test="orderitemPskuReamoney != null">
        #{orderitemPskuReamoney,jdbcType=VARCHAR},
      </if>
      <if test="orderitemCreatetime != null">
        #{orderitemCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderitemMotifytime != null">
        #{orderitemMotifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- delete -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_mlfront_orderitem
    where orderItem_id = #{orderitemId,jdbcType=INTEGER}
  </delete>
  <!-- update -->
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.bean.MlfrontOrderItem">
    update tb_mlfront_orderitem
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderUid != null">
        order_uid = #{orderUid,jdbcType=INTEGER},
      </if>
      <if test="orderCartItemId != null">
        order_cartItemId = #{orderCartItemId,jdbcType=INTEGER},
      </if>
      <if test="orderitemPid != null">
        orderItem_pid = #{orderitemPid,jdbcType=INTEGER},
      </if>
      <if test="orderitemPname != null">
        orderItem_pName = #{orderitemPname,jdbcType=VARCHAR},
      </if>
      <if test="orderitemProductOriginalprice != null">
        orderItem_product_originalPrice = #{orderitemProductOriginalprice,jdbcType=DECIMAL},
      </if>
      <if test="orderitemProductMainimgurl != null">
        orderItem_product_mainimgURL = #{orderitemProductMainimgurl,jdbcType=VARCHAR},
      </if>
      <if test="orderitemProductAccoff != null">
        orderItem_product_accoff = #{orderitemProductAccoff,jdbcType=INTEGER},
      </if>
      <if test="orderitemPskuIdstr != null">
        orderItem_pSku_idStr = #{orderitemPskuIdstr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuIdnamestr != null">
        orderItem_pSku_idnameStr = #{orderitemPskuIdnamestr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuNamestr != null">
        orderItem_pSku_nameStr = #{orderitemPskuNamestr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuMoneystr != null">
        orderItem_pSku_moneyStr = #{orderitemPskuMoneystr,jdbcType=VARCHAR},
      </if>
      <if test="orderitemPskuNumber != null">
        orderItem_pSku_number = #{orderitemPskuNumber,jdbcType=INTEGER},
      </if>
      <if test="orderitemPskuReamoney != null">
        orderItem_pSku_reaMoney = #{orderitemPskuReamoney,jdbcType=VARCHAR},
      </if>
      <if test="orderitemCreatetime != null">
        orderItem_createTime = #{orderitemCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="orderitemMotifytime != null">
        orderItem_motifyTime = #{orderitemMotifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where orderItem_id = #{orderitemId,jdbcType=INTEGER}
  </update>
  <!-- selectOneById使用中 -->
  <select id="selectMlfrontOrderItemById" parameterType="com.atguigu.bean.MlfrontOrderItem" resultMap="BaseResultMap">
    select *
    from tb_mlfront_orderitem 
    where orderItem_id = #{orderitemId,jdbcType=INTEGER}
  </select>
  <!-- selectListByOrderId使用中 -->
  <select id="selectMlfrontOrderItemByOrderId" parameterType="com.atguigu.bean.MlfrontOrderItem" resultMap="BaseResultMap">
    select *
    from tb_mlfront_orderitem 
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectMlfrontOrderItemByNowTime" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from tb_mlfront_orderitem 
    where orderItem_createTime = #{orderitemCreatetime,jdbcType=VARCHAR}
  </select>
  
  <!-- selectAll使用中 -->
  <select id="selectMlfrontOrderItemGetAll" parameterType="com.atguigu.bean.MlfrontOrderItem" resultMap="BaseResultMap">
    select *
    from tb_mlfront_orderitem order by orderItem_id desc
  </select>
  
</mapper>